# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
#sites/*/files
#sites/*/private

# Ignore ctools css
sites/default/files/ctools/css/
sites/default/settings.php
tmp/
backups/
respaldos/
sites/default/files/css/css_JhHljE6GZARwOKPQCT-zJfj_L5DCT3jNQ64tVqAUncU.css.gz
sites/default/files/css/css_JhHljE6GZARwOKPQCT-zJfj_L5DCT3jNQ64tVqAUncU.css.gz