# Redirects de sitio viejo

RewriteRule ^aura-soma$ /que-es-aura-soma? [R=301,L]
RewriteRule ^blog/a-comer-y-disfrutar-los-colores$ /blog/%C2%A1la-comida-no-solo-se-disfruta-por-su-sabor-sino-también-por-su-color-luces-y-colores? [R=301,L]
RewriteRule ^blog/bienestar-paz-interior-la-terapia-singing...$ /blog/bienestar-y-paz-interior-con-la-terapia-singing-bowls-luces-y-colores? [R=301,L]
RewriteRule ^blog/dos-filosofias-se-unen-lograr-la-maxima-e...$ /blog/dos-filosof%C3%ADas-se-unen-para-lograr-la-m%C3%A1xima-espiritualidad-luces-y-colores? [R=301,L]
RewriteRule ^blog/elementos-que-purifican-tus-espacios-y-te.$ /blog/%C2%A1elementos-que-purifican-tus-espacios-y-te-dan-salud-luces-y-colores-0? [R=301,L]
RewriteRule ^blog/elementos-que-purifican-tus-espacios-y-te...$ /blog/%C2%A1elementos-que-purifican-tus-espacios-y-te-dan-salud-luces-y-colores-0? [R=301,L]
RewriteRule ^blog/el-tantra-la-union-de-dos-polos-opuestos...$ /blog/el-tantra-la-unió-de-dos-polos-opuestos-en-busca-de-sabidur%C3%ADa-luces-y-colores? [R=301,L]
RewriteRule ^blog/lamparas-de-cuarzo-ideales-para-mejorar...$ /blog/l%C3%A1mparas-de-cuarzo-ideales-para-mejorar-el-ambiente-de-tus-espacios-luces-y-colores? [R=301,L]
RewriteRule ^blog/las-abejas-especies-que-dan-vida$ /blog/productos-generados-con-insumo-de-abejas-luces-y-colores? [R=301,L]
RewriteRule ^blog/los-secretos-que-resguardan-las-7-capas...$ /blog/los-secretos-que-resguardan-las-7-capas-del-aura-luces-y-colores? [R=301,L]
RewriteRule ^blog/mas-sobre-los-beneficios-de-la-meditacion...$ /blog/más-sobre-los-beneficios-de-la-meditación-en-la-salud-luces-y-colores? [R=301,L]
RewriteRule ^blog/page/3$ /blog? [R=301,L]
RewriteRule ^blog/poder-curativo-las-abejas-la-apicultura...$ /blog/el-poder-curativo-de-las-abejas-la-apicultura-para-la-salud-del-ser-humano-luces-y-colores? [R=301,L]
RewriteRule ^blog/productos-generados-insumos-abejas$ /blog/el-poder-curativo-de-las-abejas-la-apicultura-para-la-salud-del-ser-humano-luces-y-colores? [R=301,L]
RewriteRule ^blog/que-son-mandalas-y-que-significan-sus.$ /blog/%C2%BFqué-son-mandalas-y-qué-significan-sus-formas-y-colores-luces-y-colores? [R=301,L]
RewriteRule ^blog/reiki-la-magia-para-sanar-tu-cuerpo-y...$ /blog/reiki-la-magia-para-sanar-tu-cuerpo-y-alma-con-las-manos? [R=301,L]
RewriteRule ^category/blog$ /blog? [R=301,L]
RewriteRule ^category/sin-categoria$ /blog? [R=301,L]
RewriteRule ^contacto$ /contactenos? [R=301,L]
RewriteRule ^filter/design$ /? [R=301,L]
RewriteRule ^filter/design$ /? [R=301,L]
RewriteRule ^filter/illustration$ /? [R=301,L]
RewriteRule ^filter/interface$ /? [R=301,L]
RewriteRule ^filter/logo$ /? [R=301,L]
RewriteRule ^filter/print$ /? [R=301,L]
RewriteRule ^filter/typography$ /blog? [R=301,L]
RewriteRule ^la-meditacion-como-una-herramienta-import...$ /blog/má-sobre-los-beneficios-de-la-meditació-en-la-salud-luces-y-colores? [R=301,L]
RewriteRule ^portfolio/erik-diaz$ /? [R=301,L]
RewriteRule ^portfolio/ramotion$ /? [R=301,L]
RewriteRule ^proceso$ /en-que-consiste-la-sesion-de-terapia-de-aura-soma? [R=301,L]
RewriteRule ^productos$ /tienda-en-linea? [R=301,L]
RewriteRule ^reiki$ /terapia-de-reiki-en-costa-rica? [R=301,L]
RewriteRule ^sin-categoria/956$ /blog? [R=301,L]
RewriteRule ^sin-categoria/961$ /blog? [R=301,L]
RewriteRule ^sin-categoria/aura-soma-una-terapia-de-color...$ /blog/aura-soma-una-terapia-de-color-para-el-alma-luces-y-colores? [R=301,L]
RewriteRule ^sin-categoria/comprendiendo-que-es-el-aura$ /blog/comprendiendo-qué-es-el-aura-luces-y-colores? [R=301,L]
RewriteRule ^sin-categoria/el-reiki-es-una-experiencia-para...$ /blog/reiki-la-magia-para-sanar-tu-cuerpo-y-alma-con-las-manos? [R=301,L]
RewriteRule ^sin-categoria/la-importancia-de-los-colores...$ /blog? [R=301,L]
RewriteRule ^sin-categoria/poder-curativo-del-sonido$ /blog/poder-curativo-del-sonido-luces-y-colores? [R=301,L]
RewriteRule ^sin-categoria/terapias-holisticas-el-secreto...$ /blog? [R=301,L]
RewriteRule ^team/acondicionadores-de-ambiente$ /tienda-en-linea? [R=301,L]
RewriteRule ^team/arcangeloi$ /tienda-en-linea/arcangeloi? [R=301,L]
RewriteRule ^team/equilibrium$ /tienda-en-linea/equilibrium? [R=301,L]
RewriteRule ^team/esencias-de-colores-luz-liquida$ /tienda-en-linea? [R=301,L]
RewriteRule ^team/inciensos$ /tienda-en-linea/inciensos? [R=301,L]
RewriteRule ^team/pomanders$ /tienda-en-linea/pomanders? [R=301,L]
RewriteRule ^team/quintaesencias$ /tienda-en-linea/quintaesencias? [R=301,L]



#
# Apache/PHP/Drupal settings:
#

# Protect files and directories from prying eyes.
<FilesMatch "\.(engine|inc|info|install|make|module|profile|test|po|sh|.*sql|theme|tpl(\.php)?|xtmpl)(~|\.sw[op]|\.bak|\.orig|\.save)?$|^(\..*|Entries.*|Repository|Root|Tag|Template|composer\.(json|lock))$|^#.*#$|\.php(~|\.sw[op]|\.bak|\.orig\.save)$">
  Order allow,deny
</FilesMatch>

# Don't show directory listings for URLs which map to a directory.
Options -Indexes

# Follow symbolic links in this directory.
Options +FollowSymLinks

# Make Drupal handle any 404 errors.
ErrorDocument 404 /index.php

# Set the default handler.
DirectoryIndex index.php index.html index.htm

# Override PHP settings that cannot be changed at runtime. See
# sites/default/default.settings.php and drupal_environment_initialize() in
# includes/bootstrap.inc for settings that can be changed at runtime.

# PHP 5, Apache 1 and 2.
<IfModule mod_php5.c>
  php_flag magic_quotes_gpc                 off
  php_flag magic_quotes_sybase              off
  php_flag register_globals                 off
  php_flag session.auto_start               off
  php_value mbstring.http_input             pass
  php_value mbstring.http_output            pass
  php_flag mbstring.encoding_translation    off
</IfModule>

# Requires mod_expires to be enabled.
<IfModule mod_expires.c>
  # Enable expirations.
  ExpiresActive On

  # Cache all files for 2 weeks after access (A).
  ExpiresDefault A1209600

  <FilesMatch \.php$>
    # Do not allow PHP scripts to be cached unless they explicitly send cache
    # headers themselves. Otherwise all scripts would have to overwrite the
    # headers set by mod_expires if they want another caching behavior. This may
    # fail if an error occurs early in the bootstrap process, and it may cause
    # problems if a non-Drupal PHP file is installed in a subdirectory.
    ExpiresActive Off
  </FilesMatch>
</IfModule>

# Various rewrite rules.
<IfModule mod_rewrite.c>
  RewriteEngine on

  # Set "protossl" to "s" if we were accessed via https://.  This is used later
  # if you enable "www." stripping or enforcement, in order to ensure that
  # you don't bounce between http and https.
  RewriteRule ^ - [E=protossl]
  RewriteCond %{HTTPS} on
  RewriteRule ^ - [E=protossl:s]

  # Make sure Authorization HTTP header is available to PHP
  # even when running as CGI or FastCGI.
  RewriteRule ^ - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

  # Block access to "hidden" directories whose names begin with a period. This
  # includes directories used by version control systems such as Subversion or
  # Git to store control files. Files whose names begin with a period, as well
  # as the control files used by CVS, are protected by the FilesMatch directive
  # above.
  #
  # NOTE: This only works when mod_rewrite is loaded. Without mod_rewrite, it is
  # not possible to block access to entire directories from .htaccess, because
  # <DirectoryMatch> is not allowed here.
  #
  # If you do not have mod_rewrite installed, you should remove these
  # directories from your webroot or otherwise protect them from being
  # downloaded.
  RewriteRule "(^|/)\." - [F]

  # If your site can be accessed both with and without the 'www.' prefix, you
  # can use one of the following settings to redirect users to your preferred
  # URL, either WITH or WITHOUT the 'www.' prefix. Choose ONLY one option:
  #
  # To redirect all users to access the site WITH the 'www.' prefix,
  # (http://example.com/... will be redirected to http://www.example.com/...)
  # uncomment the following:
  # RewriteCond %{HTTP_HOST} .
  # RewriteCond %{HTTP_HOST} !^www\. [NC]
  # RewriteRule ^ http%{ENV:protossl}://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
  #
  # To redirect all users to access the site WITHOUT the 'www.' prefix,
  # (http://www.example.com/... will be redirected to http://example.com/...)
  # uncomment the following:
  # RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
  # RewriteRule ^ http%{ENV:protossl}://%1%{REQUEST_URI} [L,R=301]

  # Modify the RewriteBase if you are using Drupal in a subdirectory or in a
  # VirtualDocumentRoot and the rewrite rules are not working properly.
  # For example if your site is at http://example.com/drupal uncomment and
  # modify the following line:
  # RewriteBase /drupal
  #
  # If your site is running in a VirtualDocumentRoot at http://example.com/,
  # uncomment the following line:
  # RewriteBase /

  # Pass all requests not referring directly to files in the filesystem to
  # index.php. Clean URLs are handled in drupal_environment_initialize().
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !=/favicon.ico
  RewriteRule ^ index.php [L]

  # Rules to correctly serve gzip compressed CSS and JS files.
  # Requires both mod_rewrite and mod_headers to be enabled.
  <IfModule mod_headers.c>
    # Serve gzip compressed CSS files if they exist and the client accepts gzip.
    RewriteCond %{HTTP:Accept-encoding} gzip
    RewriteCond %{REQUEST_FILENAME}\.gz -s
    RewriteRule ^(.*)\.css $1\.css\.gz [QSA]

    # Serve gzip compressed JS files if they exist and the client accepts gzip.
    RewriteCond %{HTTP:Accept-encoding} gzip
    RewriteCond %{REQUEST_FILENAME}\.gz -s
    RewriteRule ^(.*)\.js $1\.js\.gz [QSA]

    # Serve correct content types, and prevent mod_deflate double gzip.
    RewriteRule \.css\.gz$ - [T=text/css,E=no-gzip:1]
    RewriteRule \.js\.gz$ - [T=text/javascript,E=no-gzip:1]

    <FilesMatch "(\.js\.gz|\.css\.gz)$">
      # Serve correct encoding type.
      Header set Content-Encoding gzip
      # Force proxies to cache gzipped & non-gzipped css/js files separately.
      Header append Vary Accept-Encoding
    </FilesMatch>
  </IfModule>
</IfModule>

# Add headers to all responses.
<IfModule mod_headers.c>
  # Disable content sniffing, since it's an attack vector.
  Header always set X-Content-Type-Options nosniff
</IfModule>

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript application/x-font-opentype application/x-font-ttf
</IfModule>
