@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|family=IM+Fell+DW+Pica);
/*Terapias*/
.view-terapias-usuarios .ui-accordion .ui-accordion-header {
	border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	min-height: 48px;
  padding: 0px;
  background: #dadada url(../images/terapias-fondo.png) no-repeat right 7px;
}

.view-terapias-usuarios .ui-accordion .ui-accordion-content{
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: none;
  padding: 10px;
}

.view-terapias-usuarios .ui-accordion .ui-accordion-content p{
  margin: 0px;
  color: #575756;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

.view-terapias-usuarios .ui-accordion .ui-accordion-content p a {
  font-weight: 600;
}

.view-terapias-usuarios .ui-accordion .ui-accordion-header .field-name-field-tipo-de-terapia{
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-right: 1px solid #575756;
  min-width: 160px;
  font-weight: bold;
}

.view-terapias-usuarios .ui-accordion .ui-accordion-header .field-name-field-tipo-de-terapia,
.view-terapias-usuarios .ui-accordion .ui-accordion-header .field-name-field-fecha-terapia {
	float: left;
	line-height: 27px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #575756;
}

.view-terapias-usuarios .ui-accordion .ui-accordion-header .field-name-field-fecha-terapia {
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
}

.view-terapias-usuarios .ui-state-default .ui-icon {
  background-image: none;
}

.view-terapias-usuarios .ui-accordion .ui-accordion-header.ui-state-active{
  background-color: #009b3d;
  -ms-background-position-y: -40px;
  background-position-y: -40px;
} 

.view-terapias-usuarios .ui-accordion .ui-accordion-header.ui-state-active .field-name-field-tipo-de-terapia a,
.view-terapias-usuarios .ui-accordion .ui-accordion-header.ui-state-active .field-name-field-fecha-terapia {
  color: #fff;
}

/* Added by Juan Martinez: Tienda */
#block-taxonomy-menu-block-1 {
	position: absolute;
	top: 0;
	right: -465px;	
	background-color: #ea5b0c;
	position: fixed;
	z-index: 1000000000;
	width: 350px;
	height: 100%;
	padding: 20px 0px;
	padding-top: 0px;	
}

#block-taxonomy-menu-block-1 ul {
	float: left;	
}

#block-taxonomy-menu-block-1 ul li {
	list-style: none;
	height: 46px;
}

#block-taxonomy-menu-block-1 ul li a{
	color: #fff;
	padding: 13px 10px;
	display: block;
	line-height: 18px;
} 

#block-taxonomy-menu-block-1 ul li:nth-child(2),
#block-taxonomy-menu-block-1 ul li:nth-child(13){
	margin-bottom: 20px;
}

#block-taxonomy-menu-block-1 ul li a:hover{
	background-color: #fff;
	color: #ea5b0c;
}

#block-taxonomy-menu-block-1.open {
	right: 0px;
}

.view-tienda .views-row {
	max-height: 433px;
	min-height: 433px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #ddd;
	margin-right: 108px;
	width: 320px;
	margin-bottom: 35px;
	padding: 15px 25px;
	position: relative;
}

.view-tienda{
	font-family: '';
}

.view-tienda .views-row:nth-child(3n){
	margin-right: 0px;
}

.view-tienda .views-row:hover{
	background-image: url('../images/mouse-over-categoria.png');
}

.view-tienda .views-row .vocabulary-product-category .field-name-title{
	text-align: center;	
}

.view-tienda .views-row .vocabulary-product-category .field-name-title h2 a{
	font-family: 'Source Sans Pro', sans-serif;
	color: #e71d73;
	line-height: 25px;
}

.view-tienda .views-row .vocabulary-product-category .field-name-title h2{
	margin-bottom: 0px;
}

.view-tienda .views-row .vocabulary-product-category .field-name-title h2 a:hover{
	color: #fff;
}

.view-tienda .views-row .vocabulary-product-category .field-name-more-link {
	position: absolute;
	bottom: 30px;
  left: 48px;
	z-index: 1;
}

.view-tienda .views-row .vocabulary-product-category .field-name-more-link:before {
	left: 55px;
	right: 0;
	bottom: -33px;
	font-size: 100px;	
}

.view-tienda .views-row .vocabulary-product-category .field-name-field-resumen-producto {
	font-size: 14px;
	font-family:'Source Sans Pro', sans-serif;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
	color: #575756;
}