@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|family=IM+Fell+DW+Pica);
@font-face {
	font-family: 'fontello';
	src: url('../font/fontello.eot?44438275');
	src: url('../font/fontello.eot?44438275#iefix') format('embedded-opentype'), url('../font/fontello.woff2?44438275') format('woff2'), url('../font/fontello.woff?44438275') format('woff'), url('../font/fontello.ttf?44438275') format('truetype'), url('../font/fontello.svg?44438275#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */


/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */


/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?44438275#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before,
h1.decora:before,
h1.decora:after,
h2.decora:before,
h2.decora:after,
.beneficios:before,
.pilares:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	/*width: 1em;
  margin-right: .2em;*/
	text-align: center;
	/* opacity: .8; */
	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;
	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;
	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	/*margin-left: .2em;*/
	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */
	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-hover-decorations:before {
	content: '\e802';
}


/* '' */

.icon-left-decorations:before {
	content: '\e803';
}


/* '' */

.icon-producto_icon_7:before {
	content: '\e804';
}


/* '' */

.icon-producto_icon_8-11-17:before {
	content: '\e805';
}


/* '' */

.icon-producto_icon_9:before {
	content: '\e806';
}


/* '' */

.icon-producto_icon_10:before {
	content: '\e807';
}


/* '' */

.icon-producto_icon_12:before {
	content: '\e808';
}


/* '' */

.icon-producto_icon_13:before {
	content: '\e809';
}


/* '' */

.icon-producto_icon_14:before {
	content: '\e80a';
}


/* '' */

.icon-producto_icon_15:before {
	content: '\e80b';
}


/* '' */

.icon-producto_icon_16:before {
	content: '\e80c';
}


/* '' */

.icon-right-decorations:before {
	content: '\e80d';
}


/* '' */

.icon-producto_icon_2:before {
	content: '\e80e';
}


/* '' */

.icon-producto_icon_3:before {
	content: '\e80f';
}


/* '' */

.icon-producto_icon_4:before {
	content: '\e810';
}


/* '' */

.icon-producto_icon_5:before {
	content: '\e811';
}


/* '' */

.icon-producto_icon_6:before {
	content: '\e812';
}


/* '' */

.icon-producto_icon_1:before {
	content: '\e813';
}


/* '' */

.icon-next:before {
	content: '\e814';
}


/* '' */

.icon-prev:before {
	content: '\e815';
}


/* '' */

.icon-flor:before {
	content: '\e816';
}


/* '' */

html {
	overflow-x: hidden;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
}

body p,
body li {
	font-size: 18px;
	line-height: 21px;
	font-weight: 300;
	color: #575756;
}

body p strong span {
	color: #36A9E1;
}

.centrado {
	text-align: center;
}

header .header-top {
	background-color: #6D2B5F;
	min-height: 43px;
}

header .menu,
header .language-switcher-locale-url {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

header .menu li,
header .language-switcher-locale-url li {
	display: inline-block;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

header .menu li a,
header .language-switcher-locale-url li a {
	display: block;
	line-height: 43px;
	color: #FFF;
}

header .language-switcher-locale-url li:first-child {
	margin-right: 10px;
}

header .language-switcher-locale-url li a {}

header .header-top ul {
	margin-top: 12px;
}

header .header-top ul li a {
	line-height: 15px;
	font-size: 14px;
	color: #FFF;
}

header .header-top ul li {
	border-left: 1px solid #FFF;
	padding: 0px 10px;
	margin: 0;
  display: inline-block;
    line-height: 15px; 
}

header .header-top ul li:first-child {
	border-left: none;
	padding-left: 0px;
}

header .header-top ul li:last-child {
	padding-right: 0px;
}

header .header-top #block-menu-menu-user-menu .menu li ,
header .header-top #block-ajax-register-ajax-register-block li{
	padding: 0 7px;
}

header .header-top #block-menu-menu-user-menu .menu li:first-child,
header .header-top #block-ajax-register-ajax-register-block li:first-child{
	padding-left: 0px;
}

header .header-top #block-menu-menu-user-menu .menu li:last-child,
header .header-top #block-ajax-register-ajax-register-block li:last-child{
	padding-right: 0px;
}

header .header-top #block-views-shopping-cart-block-1 {
	height: 15px;
	margin-top: 16px;
}

header .header-top .view-shopping-cart {
	display: block;
	border-left: 1px solid #FFF;
	line-height: 15px;
	float: right;
	background-image: url('../images/carrito.png');
	background-repeat: no-repeat;
	background-position: 20% center;
	padding-left: 45px;
}

header .header-top .view-shopping-cart .line-item-summary {
	margin-bottom: 0px;
}

header .header-top .view-shopping-cart> div {
	margin-bottom: 0px;
}

header .header-top .view-shopping-cart span,
header .header-top .view-shopping-cart p {
	color: #FFF;
	font-weight: 300;
	font-size: 14px;
	margin: 0px;
	line-height: 16px;
}

header .header-content {
	background-color: #FFF;
	min-height: 130px;
	padding-top: 20px;
	border-bottom: 1px solid #E8E8E8;
}

header .header-content #logo {
	display: block;
	float: left;
}

header .header-content .menu-principal {
	margin-top: 14px;
}

header .header-content .block {
	display: block;
	float: right;
}

header .header-content .block .menu {}

header .header-content .block .menu li {
	line-height: 75px;
}

header .header-content .block .menu li a {
	font-family: 'IM Fell DW Pica', serif;
	color: #575756;
	font-size: 21px;
	text-align: center;
	padding: 0px 35px;
}

header .header-content .block .menu li a:hover,
header .header-content .block .menu li.active a,
header .header-content .block .menu li.active-trail a {
	color: #36A9E1;
}

header .header-content .block .menu li:hover:after,
header .header-content .block .menu li.active:after,
header .header-content .block .menu li.active-trail:after {
	display: block;
	width: 100%;
	height: 20px;
	content: "";
	background-image: url('../images/hover_menu.png');
	background-repeat: no-repeat;
	background-position: center;
}

header .header-content .block .menu li:last-child a {
	padding-right: 20px;
}

.breadcrumb {
	padding-top: 15px;
	font-weight: 300;
	font-size: 14px;
	color: #9D9D9C;
}

.breadcrumb a {
	color: #575756;
}

.panel-flexible .panel-separator {
	margin: 0px;
	clear: both;
}

.fullwidth,
.panel-pane.fullwidth{
	position: relative;
	width: 100vw;
	left: -moz-calc(-50vw+ 50%);
	left: -webkit-calc(-50vw+ 50%);
	left: calc(-50vw+ 50%);
	/*max-width: 100vw;*/
	
}

.llamado {
	background-image: url('../images/bg_llamado.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 110px;
	margin-top: 40px;
}

.llamado p {
	font-size: 21px;
	line-height: 25px;
	font-weight: 500;
	color: #FFF;
	margin-top: 25px;
}

.llamado a {
	display: block;
	min-width: 200px;
	float: right;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: #E71D73;
	background-color: #FFF;
	line-height: 43px;
	border-radius: 5px;
	text-decoration: none;
	padding: 0px 15px;
	margin-top: 32px;
}

footer {
	padding-top: 40px;
	padding-bottom: 20px;
	background-color: #3C3C3B;
}

footer .menu {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

footer .menu li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

footer .menu li a {
	display: block;
	font-size: 18px;
	line-height: 30px;
	color: #FFF;
}

footer strong {
	margin: 0px;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	color: #FFF;
}

footer p {
	color: #FFF;
	font-size: 14px;
	line-height: 19px;
	font-weight: 300;
}

footer a {
	color: #FFF;
}

.redes {
	display: block;
}

.redes a {
	display: block;
	width: 37px;
	height: 37px;
	float: left;
	margin-right: 15px;
	background-position: center;
	background-repeat: no-repeat;
}

footer .redes a.fb {
	background-image: url('../images/fb.png');
}

footer .redes a.yt {
	background-image: url('../images/yt.png');
}


/* HS */

h1,
h2 {
	font-family: 'IM Fell DW Pica', serif;
	font-weight: normal;
}

h3,
h4 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	font-weight: 500;
}

h1.decora,
h2.decora {
	position: relative;
	display: table;
	text-align: center;
	line-height: 80px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	margin-bottom: 30px;
}

h1.decora:before,
h1.decora:after,
h2.decora:before,
h2.decora:after {
	display: table-cell;
	vertical-align: middle;
	font-size: 80px;
}

h1.decora:before,
h2.decora:before {
	content: '\e803';
	padding-right: 50px;
}

h1.decora:after,
h2.decora:after {
	content: '\e80d';
	padding-left: 50px;
}

.h28 {
	font-size: 28px;
}

.hmorado {
	color: #6D2B5F;
}

.hnaranja {
	color: #EA5B0C;
}

.hverde {
	color: #009837;
}

.hrosa {
	color: #E71D73;
}

.hceleste {
	color: #36A9E1;
}

.hl2 {}

.hleft {
	text-align: left;
}

.titulo-seccion h2 {
	font-size: 21px;
	color: #575756;
	font-weight: normal;
	margin: 0px;
	margin-bottom: 10px;
}

#block-block-6 {
	position: absolute;
	right: 0px;
	top: 0px;
}

#block-block-6 .stButton {
	margin-right: 0px !important;
	margin-left: 0px !important;
}

#block-block-6 .stButton .stLarge {
	height: 25px !important;
	width: 25px !important;
	background-image: url('../images/compartir.png') !important;
}

#block-block-6 .stButton .stLarge:hover {
	background-position: center !important;
}


/**************/


/*AURA SOMA */

.submenu-aurasoma {
	min-height: 75px;
	background-image: url('../images/bg_menu_1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 25px;
}

.submenu-aurasoma .menu {
	margin: 0px;
	padding: 0px;
	text-align: center;
	height: 75px;
	font-size: 0;
}

.submenu-aurasoma .menu li {
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

.submenu-aurasoma .menu li:first-child a {
	border-left: 1px solid #FFF;
}

.submenu-aurasoma .menu li a {
	display: table-cell;
	min-width: 220px;
	max-width: 250px;
	height: 75px;
	padding: 0px 20px;
	vertical-align: middle;
	line-height: 22px;
	text-align: center;
	border-right: 1px solid #FFF;
	font-size: 18px;
	color: #FFF;
}

.submenu-aurasoma .menu li a:hover,
.submenu-aurasoma .menu li a.active {
	font-weight: bold;
	background-color: #E71D73;
}

.row-beneficios,
.row-pilares {
	margin: 40px 0px;
}

.beneficios,
.pilares {
	display: table;
	position: relative;
	height: 215px;
	padding: 0px 35px;
}

.beneficios p,
.pilares p {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-family: 'IM Fell DW Pica', serif;
	font-weight: normal;
	font-size: 21px;
	line-height: 23px;
}

.beneficios:before,
.pilares:before {
	content: '\e816';
	position: absolute;
	font-size: 200px;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: -1;
}

.beneficios.bn1,
.pilares.pl1 {
	color: #DEEDF6;
}

.beneficios.bn2,
.pilares.pl2 {
	color: #EFD7E5;
}

.beneficios.bn3,
.pilares.pl3 {
	color: #DBEAE2;
}

.beneficios.bn4,
.pilares.pl4 {
	color: #EBDEE7;
}

.pilares.pl5 {
	color: #F3E2D8;
}

.beneficios.bn1 p,
.pilares.pl1 p {
	color: #36A9E1;
}

.beneficios.bn2 p,
.pilares.pl2 p {
	color: #E71D73;
}

.beneficios.bn3 p,
.pilares.pl3 p {
	color: #2FAC66;
}

.beneficios.bn4 p,
.pilares.pl4 p {
	color: #842C71;
}

.pilares.pl5 p {
	color: #EA5B0C;
}

.pilares {
	height: 175px;
}

.pilares:before {
	font-size: 160px;
}

.row-terapia {
	margin-bottom: 40px;
	display: table;
}

.row-terapia .w-col-6 {}

.image-container-pasos-aura-soma {
	position: relative;
}

.image-container-pasos-aura-soma span {
	position: absolute;
	display: block;
	width: 33px;
	height: 40px;
	background-color: #E71D73;
	font-size: 24px;
	font-weight: 500;
	color: #FFF;
	text-align: center;
}

.row-historia-aura-soma {
	margin-bottom: 40px;
}


/************/

.display-none {
	display: none;
}

.panels-flexible-region-fluid_layout-center{
	width: 100% !important;
}


/*Added by Juan martinez*/
.hidden {display: none;}



/* Home - Keylor Mora Garro */


.panel-pane.fullwidth.slider .slide{
	max-height:465px;
	overflow: hidden;
}
.panel-pane.fullwidth.slider .slide img{
	float: none;
	margin: 0 auto;
}

.panel-pane.fullwidth.slider .slide .fluid-width-video-wrapper iframe{
	top: -15%;
}

.bx-wrapper .bx-controls{
   max-width: 1180px;
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.bx-wrapper .bx-next{
	background-position: -43px -31px;

}
.bx-wrapper .bx-prev{
	background-position: 0 -31px;

}
.bx-wrapper .bx-controls-direction a:hover{
	height 31px;
}

.panel-pane.fullwidth.slider .caption-container{
	   position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 28%;
    text-align: center;
}

.panel-pane.fullwidth.slider .caption-container h2{
	font-family: 'IM Fell DW Pica', serif;
	color: #fff;
	font-size: 28px;
}

.link-container-slider{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
}

.alink{
	height: 44px;
	text-align: center;
	color: #fff;
	font-size:18px; 
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	line-height:44px;
	padding: 0 10px;
	margin: 0 10px;
	border-radius: 4px;
	display: block;
}
.anaranja{
	background-color: #EA5B0C;
}

.aceleste{
	background-color: #36A9E1;
}


.panel-pane.fullwidth.slider .bx-wrapper .bx-viewport{
	border: 0px;
}


.panel-pane.fullwidth.slider .bx-wrapper .bx-viewport ul{
	margin: 0;
}
/*#edit-checkout{
	display: none;
}*/