@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|family=IM+Fell+DW+Pica|family=Roboto);
@font-face {
	font-family: 'fontello';
	src: url('../font/fontello.eot?44438275');
	src: url('../font/fontello.eot?44438275#iefix') format('embedded-opentype'), url('../font/fontello.woff2?44438275') format('woff2'), url('../font/fontello.woff?44438275') format('woff'), url('../font/fontello.ttf?44438275') format('truetype'), url('../font/fontello.svg?44438275#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */


/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */


/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?44438275#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before,
h1.decora:before,
h1.decora:after,
h2.decora:before,
h2.decora:after,
h1.decora-der:after,
h2.decora-der:after,
.beneficios:before,
.pilares:before,
.boton-isla-terapia-home:before,
.link-curso-container:before,
.principios-reiki .w-col p:before, 
.texto-con-bg:before{
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	/*width: 1em;
  margin-right: .2em;*/
	text-align: center;
	/* opacity: .8; */
	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;
	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;
	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	/*margin-left: .2em;*/
	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */
	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}



.center{
	text-align: center;	
}

.icon-hover-decorations:before {
	content: '\e802';
	font-family: "fontello";
}


/* 'î ‚' */

.icon-left-decorations:before {
	content: '\e803';
}


/* 'î ƒ' */

.icon-producto_icon_7:before,
.sets-de-equilibrium:before {
	content: '\e804';
}


/* 'î „' */

.icon-producto_icon_8-11-17:before,
.pomanders:before,
.quintaesencias:before,
.rescates-de-bolsillo:before {
	content: '\e805';
}


/* 'î …' */

.icon-producto_icon_9:before,
.arcangeloi:before {
	content: '\e806';
}


/* 'î †' */

.icon-producto_icon_10:before,
.esencias-de-color:before {
	content: '\e807';
}


/* 'î ‡' */

.icon-producto_icon_12:before,
.lÃ¡piz-de-luz:before {
	content: '\e808';
}


/* 'î ˆ' */

.icon-producto_icon_13:before,
.inciensos:before {
	content: '\e809';
}


/* 'î ‰' */

.icon-producto_icon_14:before,
.libros-de-aura-soma:before {
	content: '\e80a';
}


/* 'î Š' */

.icon-producto_icon_15:before,
.bolsitas-de-cristales-enfocadas-hacia-intenciones-especÃ­ficas:before {
	content: '\e80b';
}


/* 'î ‹' */

.icon-producto_icon_16:before,
.cristales-de-vidrio-programados:before {
	content: '\e80c';
}


/* 'î Œ' */

.icon-right-decorations:before {
	content: '\e80d';
}


/* 'î ' */

.icon-producto_icon_2:before,
.singing-bowls-y-campanas-tibetanas:before{
	content: '\e80e';
}


/* 'î Ž' */

.icon-producto_icon_3:before,
.cristales-y-piedras:before {
	content: '\e80f';
}


/* 'î ' */

.icon-producto_icon_4:before,
.candelas:before {
	content: '\e810';
}


/* 'î ' */

.icon-producto_icon_5:before,
.pulseras-aura-beads-y-otra-joyerÃ­a-fabricada-con-cristales:before {
	content: '\e811';
}


/* 'î ‘' */

.icon-producto_icon_6:before,
.equilibrium:before {
	content: '\e812';
}


/* 'î ’' */

.icon-producto_icon_1:before{
	content: '\e813';
}


/* 'î “' */

.icon-next:before {
	content: '\e814';
}


/* 'î ”' */

.icon-prev:before {
	content: '\e815';
}


/* 'î •' */

.icon-flor:before {
	content: '\e816';
}


/* 'î –' */

html {
	overflow-x: hidden;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

body p,
body li {
	font-size: 18px;
	line-height: 24px;
	font-weight: 300;
	color: #575756;
	font-family: 'Source Sans Pro', sans-serif;
}

body p strong span {
	color: #36A9E1;
}

.centrado {
	text-align: center;
}

header .header-top {
	background-color: #6D2B5F;
	min-height: 43px;
}

header .menu,
header .language-switcher-locale-url {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

header .menu li,
header .language-switcher-locale-url li {
	display: inline-block;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

header .menu li a,
header .language-switcher-locale-url li a {
	display: block;
	line-height: 43px;
	color: #FFF;
}

header .language-switcher-locale-url li:first-child {
	margin-right: 10px;
}

header .language-switcher-locale-url li a {}

header .header-top ul {
	margin-top: 12px;
	display: inline-block;
}

header .header-top ul li a {
	line-height: 15px;
	font-size: 14px;
	color: #FFF;
}

header .header-top ul li {
	border-left: 1px solid #FFF;
	padding: 0px 10px;
	margin: 0;
  display: inline-block;
    line-height: 15px; 
}

header .header-top ul li:first-child {
	border-left: none;
	padding-left: 0px;
}

header .header-top ul li:last-child {
	padding-right: 0px;
}

header .header-top #block-menu-menu-user-menu .menu li ,
header .header-top #block-ajax-register-ajax-register-block li{
	padding: 0 7px;
}

header .header-top #block-menu-menu-user-menu .menu li:first-child,
header .header-top #block-ajax-register-ajax-register-block li:first-child{
	padding-left: 0px;
}

header .header-top #block-menu-menu-user-menu .menu li:last-child,
header .header-top #block-ajax-register-ajax-register-block li:last-child{
	padding-right: 0px;
}

header .header-top #block-views-shopping-cart-block-1 {
	height: 15px;
	margin-top: 16px;
}

header .header-top .view-shopping-cart {
	display: block;
	border-left: 1px solid #FFF;
	line-height: 15px;
	float: right;
	background-image: url('../images/carrito.png');
	background-repeat: no-repeat;
	background-position: 20% center;
	padding-left: 45px;
}

header .header-top .view-shopping-cart .line-item-summary {
	margin-bottom: 0px;
}

header .header-top .view-shopping-cart> div {
	margin-bottom: 0px;
}

header .header-top .view-shopping-cart span,
header .header-top .view-shopping-cart p {
	color: #FFF;
	font-weight: 300;
	font-size: 14px;
	margin: 0px;
	line-height: 16px;
}

header .header-content {
	background-color: #f4f4f4;
	min-height: 130px;
	padding-top: 20px;
	border-bottom: 1px solid #E8E8E8;
}

header .header-content #logo {
	display: block;
	float: left;
}

header .header-content .menu-principal {
	margin-top: 14px;
}

header .header-content .block {
	display: block;
	float: right;
}

header .header-content .block .menu {}

header .header-content .block .menu li {
	line-height: 75px;
}

header .header-content .block .menu li a {
	font-family: 'IM Fell DW Pica', serif;
	color: #575756;
	font-size: 21px;
	text-align: center;
	padding: 0px 35px;
}

header .header-content .block .menu li a:hover,
header .header-content .block .menu li.active a,
header .header-content .block .menu li.active-trail a {
	color: #36A9E1;
}

header .header-content .block .menu li:hover:after,
header .header-content .block .menu li.active:after,
header .header-content .block .menu li.active-trail:after {
	display: block;
	width: 100%;
	height: 20px;
	content: "";
	background-image: url('../images/hover_menu.png');
	background-repeat: no-repeat;
	background-position: center;
}

header .header-content .block .menu li:last-child a {
	padding-right: 20px;
}

.breadcrumb {
	padding-top: 15px;
	font-weight: 300;
	font-size: 14px;
	color: #9D9D9C;
}

.breadcrumb a {
	color: #575756;
}

.panel-flexible .panel-separator {
	margin: 0px;
	clear: both;
}

.fullwidth,
.panel-pane.fullwidth{
	position: relative;
	width: 100vw;
	left: -moz-calc(-50vw+ 50%);
	left: -webkit-calc(-50vw+ 50%);
	left: calc(-50vw+ 50%);
	/*max-width: 100vw;*/
	
}

.llamado {
	background-image: url('../images/bg_llamado.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 110px;
	margin-top: 40px;
}

.llamado p {
	font-size: 21px;
	line-height: 25px;
	font-weight: 500;
	color: #FFF;
	margin-top: 25px;
}

.llamado a {
	display: block;
	min-width: 200px;
	float: right;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: #E71D73;
	background-color: #FFF;
	line-height: 43px;
	border-radius: 5px;
	text-decoration: none;
	padding: 0px 15px;
	margin-top: 32px;
}

footer {
	padding-top: 40px;
	padding-bottom: 20px;
	background-color: #3C3C3B;
}

footer .menu {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

footer .menu li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

footer .menu li a {
	display: block;
	font-size: 18px;
	line-height: 30px;
	color: #FFF;
}

footer strong {
	margin: 0px;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	color: #FFF;
}

footer p {
	color: #FFF;
	font-size: 14px;
	line-height: 19px;
	font-weight: 300;
}

footer a {
	color: #FFF;
}

.redes {
	display: block;
}

.redes a {
	display: block;
	width: 37px;
	height: 37px;
	float: left;
	margin-right: 15px;
	background-position: center;
	background-repeat: no-repeat;
}

footer .redes a.fb {
	background-image: url('../images/fb.png');
}

footer .redes a.yt {
	background-image: url('../images/yt.png');
}


/* HS */

h1,
h2 {
	font-family: 'IM Fell DW Pica', serif;
	font-weight: normal;
}

h3,
h4 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	font-weight: 500;
}

h1.decora,
h2.decora,
h1.decora-der,
h2.decora-der{
	position: relative;
	display: table;
	line-height: 80px;
	left: 0px;
	right: 0px;
	margin: 0;
	
}

h1.h24.decora-der,
h2.h24.decora-der{
	line-height: 30px;

}

h1.decora,
h2.decora{
	margin: 0 auto;
	text-align: center;
	margin-bottom: 30px;
}


h1.h28-doblelinea,
h2.h28-doblelinea,
h1.decora.h28-doblelinea,
h2.decora.h28-doblelinea{
	line-height: 40px !important;
	margin-top: 50px;
}

h1.decora:before,
h1.decora:after,
h2.decora:before,
h2.decora:after,
h1.decora-der:after,
h2.decora-der:after {

	display: table-cell;
	vertical-align: middle;
	font-size: 80px;
}

h1.decora:before,
h2.decora:before {
	content: '\e803';
	padding-right: 50px;
}

h1.decora:after,
h2.decora:after,
h1.decora-der:after,
h2.decora-der:after {
	content: '\e80d';
	padding-left: 50px;
}

h1.h24.decora-der:after,
h2.h24.decora-der:after {
	font-size: 60px;
	padding-left: 20px;
	line-height: 30px;

}
.h28 {
	font-size: 28px;
}

.h24 {
	font-size: 24px;
}

.h33 {
	font-size: 33px;
}

.h21 {
	font-size: 21px;
}

.hmorado,
.hmorado a{
	color: #6D2B5F;
}

.hnaranja,
.hnaranja a{
	color: #EA5B0C;
}

.hverde,
.hverde a{
	color: #009837;
}

.hblanco,
.hblanco a{
	color: #fff;
}

.hrosa,
.hrosa a{
	color: #E71D73;
}

.hceleste,
.hceleste a{
	color: #36A9E1;
}

.hcafe,
.hcafe a{
	color : #634E42;
}

.hrojo,
.hrojo a{
	color : #E30613;
}

.fonttitulo{
	font-family: 'IM Fell DW Pica', serif;
}

.hl2 { 
	font-size: 12px;
}

.hl4 { 
	font-size: 14px;
}




.hleft {
	text-align: left;
}

.titulo-seccion h2,
.title-breadcrumb-container h1,
.title-breadcrumb-container h2{
	font-size: 21px;
	color: #575756;
	font-weight: normal;
	margin: 0px;
	margin-bottom: 10px;
}

#block-block-6 {
	position: absolute;
	right: 0px;
	top: 0px;
}

.stButton {
	margin-right: 0px !important;
	margin-left: 0px !important;
}

.stButton .stLarge {
	height: 25px !important;
	width: 25px !important;
	background-image: url('../images/compartir.png') !important;
	background-position: center !important;
}

.stButton .stLarge:hover {
	background-position: center !important;
}

.field-name-share-this-field p {
    line-height: 32px;
	margin: 0;
}

/**************/


/*AURA SOMA */

.submenu{
	min-height: 75px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 25px;
}

.submenu-aurasoma {
	background-image: url('../images/bg_menu_1.jpg');
}

.submenu-reiki {
	background-image: url('../images/image-bg-submenu-reiki-op.jpg');
}

.submenu .menu {
	margin: 0px;
	padding: 0px;
	text-align: center;
	height: 75px;
	font-size: 0;
}

.submenu .menu li {
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

.submenu .menu li:first-child a {
	border-left: 1px solid #FFF;
}

.submenu .menu li a {
	display: table-cell;
	min-width: 220px;
	max-width: 250px;
	height: 75px;
	padding: 0px 20px;
	vertical-align: middle;
	line-height: 22px;
	text-align: center;
	border-right: 1px solid #FFF;
	font-size: 18px;
	color: #FFF;
}

.submenu.submenu-reiki .menu li a {
	min-width: 185px;
	max-width: 185px;
}
.submenu-aurasoma .menu li a:hover,
.submenu-aurasoma .menu li a.active {
	font-weight: bold;
	background-color: #E71D73;
}

.submenu-reiki .menu li a:hover,
.submenu-reiki .menu li a.active {
	font-weight: bold;
	background-color: rgba(87,196,234,0.7);
}

.row-beneficios,
.row-pilares {
	margin: 40px 0px;
}

.beneficios,
.pilares {
	display: table;
	position: relative;
	height: 215px;
	/*padding: 0px 35px;*/
	width: 100%;
}

.beneficios p,
.pilares p {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-family: 'IM Fell DW Pica', serif;
	font-weight: normal;
	font-size: 21px;
	line-height: 23px;
}

.beneficios:before,
.pilares:before {
	content: '\e816';
	position: absolute;
	font-size: 200px;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: -1;
}

.beneficios.bn1,
.pilares.pl1 {
	color: #DEEDF6;
}

.beneficios.bn2,
.pilares.pl2 {
	color: #EFD7E5;
}

.beneficios.bn3,
.pilares.pl3 {
	color: #DBEAE2;
}

.beneficios.bn4,
.pilares.pl4 {
	color: #EBDEE7;
}

.pilares.pl5 {
	color: #F3E2D8;
}

.beneficios.bn1 p,
.pilares.pl1 p {
	color: #36A9E1;
}

.beneficios.bn2 p,
.pilares.pl2 p {
	color: #E71D73;
}

.beneficios.bn3 p,
.pilares.pl3 p {
	color: #2FAC66;
}

.beneficios.bn4 p,
.pilares.pl4 p {
	color: #842C71;
}

.pilares.pl5 p {
	color: #EA5B0C;
}

.pilares {
	height: 175px;
}

.pilares:before {
	font-size: 160px;
}

.row-terapia {
	margin-bottom: 40px;
	display: table;
}

.row-terapia .w-col-6 {}

.image-container-pasos-aura-soma {
	position: relative;
}

.image-container-pasos-aura-soma span {
	position: absolute;
	display: block;
	width: 33px;
	height: 40px;
	background-color: #E71D73;
	font-size: 24px;
	font-weight: 500;
	color: #FFF;
	text-align: center;
	line-height: 38px;
}

.row-historia-aura-soma {
	margin-bottom: 40px;
}


/************/

.display-none {
	display: none;
}

.panels-flexible-region-fluid_layout-center{
	width: 100% !important;
}


/*Added by Juan martinez*/
.hidden {display: none;}



/* Home - Keylor Mora Garro */

.panel-pane.fullwidth.slider{
	margin-bottom: 22px;
}


.panel-pane.fullwidth.slider .slide{
	max-height:465px;
	overflow: hidden;
	
}
.panel-pane.fullwidth.slider .slide img{
	float: none;
	margin: 0 auto;
}

.panel-pane.fullwidth.slider .slide .fluid-width-video-wrapper iframe{
	top: -15%;
}

.bx-wrapper .bx-controls{
   max-width: 1180px;
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.bx-wrapper .bx-next{
	background-position: -43px -31px;

}
.bx-wrapper .bx-prev{
	background-position: 0 -31px;

}
.bx-wrapper .bx-controls-direction a:hover{
	height 31px;
}

.panel-pane.fullwidth.slider .caption-container{
	   position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 28%;
    text-align: center;
}

.panel-pane.fullwidth.slider .caption-container h2{
	font-family: 'IM Fell DW Pica', serif;
	color: #fff;
	font-size: 28px;
}

.link-container-slider{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
}

.alink{
	height: 44px;
	text-align: center;
	color: #fff;
	font-size:18px; 
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	line-height:44px;
	padding: 0 10px;
	margin: 0 10px;
	border-radius: 4px;
	display: block;
}
.anaranja{
	background-color: #EA5B0C;
}

.aceleste{
	background-color: #36A9E1;
}


.panel-pane.fullwidth.slider .bx-wrapper .bx-viewport{
	border: 0px;.
	box-shadow: none;
	-webkit-box-shadow: none;
}


.panel-pane.fullwidth.slider .bx-wrapper .bx-viewport ul{
	margin: 0;
}


.sinmargen-superior{
	margin-top:0px;
}

.sinmargen-inferior{
	margin-bottom: 0px;
}

.sinmargen{
	margin: 0;
}

.w-row.container-isla-terapia-home {
  margin: 48px auto 85px;
}

.w-col.isla-terapia-home {
  padding: 0 45px;
	min-height:320px;
}

.anaranja-degradado, .pager.pager--infinite-scroll  a,
.view-tienda .views-row .vocabulary-product-category .field-name-more-link a{
	  background-image: url("../images/bg-boton-naranja-degradado.jpg");
    background-repeat: repeat-x;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    display: block;
    float: none;
    margin: 42px auto 0;
    line-height: 44px;
    height: 44px;
    padding: 0 5px;
    width: 225px;
		transition: 0.5s ease;
}

.anaranja-degradado:hover{
	transform: translate(0, -10px);
}




.boton-isla-terapia-home:before{
	content: '\e816';
    position: absolute;
    font-size: 115px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -1;
	color: #DADADA;
}

.boton-isla-terapia-home{
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
	height: 115px;
}


.youtube-center{
	float: none;
	margin: 0 auto 20px;
	display: block;
	
}

.view-cursos {
	margin: 40px auto;
}

.view-cursos .bx-viewport{
	border: 0px;
	box-shadow: none;
	-webkit-box-shadow: none;
	
}

.view-cursos .views-row{
	height: 336px;
	overflow-y: hidden;
	position: relative;
	border-radius: 10px;
	width: 308px;
	    padding: 0;
	margin-bottom: 30px;

}

.view-cursos  .views-row .curso-hover{
	top: 338px;
	background-color: rgba(58,170,53,0.8);
	height: 100%;
	width: 100%;
	transition: 0.5s ease;
	position: absolute;
	padding: 30px 25px 10px;
}

.view-cursos  .views-row:hover .curso-hover{
	top: 0px;
}

.view-cursos .bx-viewport ul.bxslider-carousel{
	margin: 0;
}

.view-cursos .bx-wrapper .bx-prev{
	left: -55px;
}

.view-cursos .bx-wrapper .bx-next{
	right: -45px;
}

.view-cursos .views-row .curso-hover .field-name-title a{
		font-family: 'IM Fell DW Pica', serif;
	font-weight: normal;
	font-size: 21px;
	line-height: 23px;
	color: #fff;
	text-align: center;
	display: block;
	margin-bottom: 5px;
}

.view-cursos .views-row .curso-hover .field-name-field-fecha{
	color: #fff;
    font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	text-align: center;
}

.view-cursos .views-row .curso-hover .field-name-body,
.view-cursos .views-row .curso-hover .field-name-body p{
	color: #fff;
  font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	text-align: center;
	margin-top: 15px;
}

.link-curso-container a{
	  background-color: #fff;
    font-size: 18px;
    color: #3AAA35;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    text-align: center;
    height: 44px;
    line-height: 44px;
    width: 180px;
    display: block;
    margin: 42px auto 0;
    border-radius: 5px;
}


.link-curso-container{
	  position: absolute;
    bottom: 15px;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: 115px;
    z-index: 1;
}

.view-cursos .view-content {
	display: flex;
	justify-content: space-around;
	flex-wrap: 	wrap;
}

.link-curso-container:before,
.view-tienda .views-row .vocabulary-product-category .field-name-more-link:before{
	  content: '\e816';
    position: absolute;
    font-size: 115px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -1;
    color: rgba(255,255,255,0.3);
}

.pager.pager--infinite-scroll  {
	list-style: none;
}

.header .menu li.menu-mlid-2904,
.header .menu li.menu-mlid-2905{
	display: none;
}

/*#edit-checkout{
	display: none;
}*/

.panel-pane.f5ullwidth.slider .slide img {
    width: auto;
    height: 100%;
    max-width: none;
}

.view-tienda .field-name-icono{
	font-family: 'fontello';
	font-size: 150px;
	padding: 0px 60px;
}

.view-tienda .field-name-more-link{
	font-family: 'fontello';
}

/* Reiki */


.principios-reiki{
	
}

.principios-reiki .w-col-2{
	text-align: center;
        padding: 30px 44px;
		margin: 50px 0;
}

.principios-reiki .w-col p:before{
	content: '\e816';
    position: absolute;
    font-size: 156px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -1;
	top: -14px;
}

.principios-reiki .w-col .hverde:before{
	color: rgba(47,172,102,0.3);
}

.principios-reiki .w-col .hnaranja:before{
	color: rgba(234,91,12,0.3);
}

.principios-reiki .w-col .hrosa:before{
	color: rgba(231,29,115,0.3);
}

.principios-reiki .w-col .hceleste:before{
	color: rgba(54,169,225,0.3);
}

.principios-reiki .w-col .hmorado:before{
	color: rgba(132,44,113,0.3);
}



.nombres-reiki{
	margin: 50px auto;
	
}
.nombres-reiki .w-col p.texto-con-bg:before{
	content: '\e801';
    position: absolute;
    font-size: 156px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -1;
	top: -14px;
}

.nombres-reiki .w-col p.texto-con-bg {
    margin: 0;
    padding: 62px;
}
.nombres-reiki .w-col .hverde:before{
	color: rgba(47,172,102,0.3);
}

.nombres-reiki .w-col .hnaranja:before{
	color: rgba(234,91,12,0.3);
}

.nombres-reiki .w-col .hrosa:before{
	color: rgba(231,29,115,0.3);
}

.nombres-reiki .w-col .hceleste:before{
	color: rgba(54,169,225,0.3);
}

.nombres-reiki .w-col .hmorado:before{
	color: rgba(132,44,113,0.3);
}

.nombres-reiki .w-col .hrojo:before{
	color: rgba(227,6,19,0.3);
}

.nombres-reiki .w-col .hcafe:before{
	color: rgba(99,78,66,0.3);
}

.reiki-quienes {

}

.reiki-quienes .image-container,
.reiki-beneficios .image-container{
	overflow: hidden;
	border-radius: 10px;
	position: relative;
	    max-height: 200px;
}


.reiki-beneficios .image-container{
	 max-height: 182px;
}
.reiki-quienes .image-container .caption,
.reiki-beneficios .image-container .caption{
	position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    top: 0;
    text-align: center;
    justify-content: center;
	    padding: 0 20px;
	transition: all 0.5s ease;
background: rgba(0,0,0,0.2);
}

.reiki-quienes .image-container .caption:hover,
.reiki-beneficios .image-container .caption:hover{
	background-color: rgba(168,72,148,0.7);
}

.reiki-quienes .image-container .caption p,
.reiki-beneficios .image-container .caption p{
		 font-size: 21px;
    color: #fff !important;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.reiki-quienes .w-col-4{

	padding: 0 15px;
	    margin-bottom: 30px;
}

.reiki-beneficios .w-col-3{
	padding: 0 15px;
	    margin-bottom: 26px;
}


.submenu.submenu-reiki .menu.tinyjs li.menu-mlid-1619 a,
.submenu.submenu-reiki .menu.tinyjs li.menu-mlid-1620 a{
	    width: 116px;
    min-width: 0px;
    max-width: none;
}

.submenu.submenu-reiki .menu.tinyjs li.menu-mlid-1615 a,
.submenu.submenu-reiki .menu.tinyjs li.menu-mlid-1616 a{
	    width: 132px;
    min-width: 0px;
    max-width: none;
}

.submenu.submenu-reiki .menu.tinyjs li.menu-mlid-1617 a,
.submenu.submenu-reiki .menu.tinyjs li.menu-mlid-1618 a{
	    width: 240px;
    min-width: 0px;
    max-width: none;
}

.submenu.submenu-reiki .menu.tinyjs li.menu-mlid-1613 a,
.submenu.submenu-reiki .menu.tinyjs li.menu-mlid-1614 a{
	    width: 220px;
    min-width: 0px;
    max-width: none;
}

.submenu.submenu-reiki .menu.tinyjs li.menu-mlid-1611 a,
.submenu.submenu-reiki .menu.tinyjs li.menu-mlid-1612 a{
	    width: 202px;
    min-width: 0px;
    max-width: none;
}

.reiki-beneficios-container{
	margin: 65px auto;
}

.titulo-seccion h1{
	font-size: 21px;
    color: #575756;
    font-weight: normal;
    margin: 0px;
    margin-bottom: 10px;
}

.titulo-seccion{
	border-bottom: 1px solid #E8E8E8;
}

.texto-fondo-amarillo{
	background-color: #ED9F2E;
	padding: 30px 0 15px;
	margin-top: 50px;
	margin-bottom: 50px;
}


.texto-fondo-amarillo:after{
    content: "";
    display: block;
    width: 100%;
    background-image: url("../images/bg-bloque-amarillo-fullwidth.png");
    height: 24px;
    background-color: transparent;
    position: absolute;
    background-position: bottom;
    z-index: 1;
    background-repeat: repeat-x;
}

.texto-fondo-amarillo p{
	color: #fff;
}

img.certificados{
	display: block;
	margin: 0 auto;
}

.banner-full img{
	width: 100%;
}

.pager{margin-top: 50px !important;}

.pager li{
	border-radius: 5px;
    border: 2px solid #aaa;
    background-color: #ddd;
    text-align: center;
    float: none;
    margin: 42px 5px 0 !important;
    padding: 7px 13px !important;
    width: auto;
    color: #666;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    transition: all 0.5s ease;
}

.pager li a{
	 color: #666;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    line-height: 44px;
    text-decoration: none;
	transition: all 0.5s ease;
}


.pager li:hover,
.pager li a:hover{
	color: #999;
}


.panel-pane span.pane-title{
   font-weight: 700;
	   font-size: 18px;
    line-height: 24px;
    color: #575756;
    font-family: 'Source Sans Pro', sans-serif;
}

.panel-pane.pane-node-field-fecha{
	margin-bottom: 30px;
}

.float-right{
	clear: both;
	float: right;
}


.anaranja-degradado.colorbox-node{
	margin-bottom: 40px;
}

.node-webform{
	padding: 10px 50px;
}

.node-webform.node-webform-contacto{
	padding: 10px 50px 10px 0;
}

 .webform-client-form input[type="text"],
 .webform-client-form input[type="email"],
 .webform-client-form textarea{
	width: 100%;
	border-radius: 5px;
	border: 1px solid #EDEDED;
	padding: 0 10px;
	color: #575756;
	font-size: 14px;
	font-weight: 300;
	font-family: 'Source Sans Pro', sans-serif;
	
}

.webform-client-form input[type="text"],
.webform-client-form input[type="email"]{
	line-height 44px;
	height: 44px;
}
.webform-client-form textarea{
	line-height: 18px;
	max-width: 100%;
	padding: 10px;
}



.webform-client-form input[type="submit"],
#comments input[type="submit"],
#user_login_form input[type="submit"],
#user_register_form input[type="submit"],
#user_pass_form input[type="submit"],
#commerce-addressbook-customer-profile-form  input[type="submit"], 
#commerce-addressbook-profile-options-delete-form input[type="submit"]{
	
	    background-image: url("../images/bg-boton-naranja-degradado.jpg");
    background-repeat: repeat-x;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    

        margin: 0px auto 30px;
    line-height: 44px;
    height: 44px;
    padding: 0 20px;
    border: 0px;
    transition: 0.5s ease;

}

.webform-client-form input[type="submit"],
#comments input[type="submit"],
#user_login_form input[type="submit"],
#user_register_form input[type="submit"],
#user_pass_form input[type="submit"],
#commerce-addressbook-customer-profile-form  input[type="submit"]{
	display: block;
	float: right;
	clear: both;

}

#edit-actions a{
	margin: 0 20px;
}

#colorbox #cboxClose{
	background-image: url(../images/cerrar-popup.png);
}


.node-type-curso .field-name-body{
		-moz-column-count:2;
	-webkit-column-count:2;
	column-count: 2;
font-weight: 400;
	   font-size: 18px;
    line-height: 24px;
    color: #575756;
    font-family: 'Source Sans Pro', sans-serif;

}


.contact-sidebar{
	padding-left: 55px;
}

.contact-sidebar .direccion,
.contact-sidebar .correo,
.contact-sidebar .telefono{
	padding-left: 32px;
	background-repeat: no-repeat;
	background-position: left center;
	background-color: transparent;
	
}

.contact-sidebar .direccion p,
.contact-sidebar .correo p,
.contact-sidebar .telefono p{
	font-weight: 300;
	   font-size: 12px;
    line-height: 24px;
    color: #575756;
    font-family: 'Source Sans Pro', sans-serif;
}

.contact-sidebar .direccion p{
	line-height: 16px;
}

.contact-sidebar .direccion p a,
.contact-sidebar .correo p a,
.contact-sidebar .telefono p a{
	text-decoration: none;
}

.contact-sidebar .direccion{
	
}

.contact-sidebar .correo{
	
}

.contact-sidebar .telefono{
	
}

.redes p {
    font-family: 'IM Fell DW Pica', serif;
    font-weight: normal;
    font-size: 16px;
    color: #36A9E1;
    display: block;
    float: left;
    line-height: 37px;
    margin: 2px 10px 0 0;
}

#sidebar-second .redes p{
	font-size: 24px;
}
.node-type-webform h1#page-title{
	display:none;
}

.contact-sidebar .direccion{
	background-image: url("../images/bg-contact-direccion.png");
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 30px;
}

.contact-sidebar .telefono{
	background-image: url("../images/bg-contact-tel.png");
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 30px;
}

.contact-sidebar .correo{
	background-image: url("../images/bg-contact-correo.png");
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 30px;
}

.redes a.fb {
    background-image: url('../images/fb-contact.png');
}

 .redes a.yt {
    background-image: url('../images/yt-contact.png');
}

input#edit-submitted-desea-solicitar-una-cita-o-visita-elija-una-fecha{
	background-image: url("../images/bt-input-fecha.png");
	background-position: 96% center;
	background-repeat: no-repeat;
}


.page-blog .main .view-listado-blog{
	padding-left: 70px;
}

.page-blog #sidebar-second{
	padding-right: 70px;
}


.page-blog #page-title{
	margin-top: 0px;
}


.view-listado-blog .views-row{
	overflow: hidden;
	border-radius: 8px;
	margin-bottom: 30px;
	padding-bottom: 30px;
	position: relative;
}
.view-listado-blog .imagen-blog{
	position:relative;
	max-height: 452px;
}

.view-listado-blog .imagen-blog img{
	width: 100%;
}

.imagen-blog .fecha-blog{
	  position: absolute;
    top: 0;
    left: 12px;
    width: 68px;
    height: 65px;
    background-color: #36A9E1;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url("../images/bg-fecha-blog.png");
    font-weight: 300;
    font-size: 11px;
    line-height: 11px;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    padding: 14px 0 0 0;
}

.node-blog-post .imagen-blog .fecha-blog{
	/*top: 20px;*/
}

.imagen-blog .fecha-blog span{

	font-weight: 600;
	font-size: 21px;
  line-height: 24px;
 
}

.view-listado-blog .views-field-title a{
	  font-family: 'IM Fell DW Pica', serif;
    font-weight: normal;
    font-size: 24px;
    color: #2FAC66;
	text-decoration: none;
	margin: 10px 0;
	display: block;
}

.view-listado-blog .field-name-field-blog-category,
.view-listado-blog .views-field-title,
.view-listado-blog .field-name-body,
.node.node-blog-post .field-name-field-blog-category,
.node.node-blog-post .views-field-title,
.node.node-blog-post .field-name-body{
	padding: 0 22px;
}

.view-listado-blog .field-name-field-blog-category a,
.node.node-blog-post .field-name-field-blog-category a{
	display: block;
	text-decoration: none;
	font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #A84894;
    font-family: 'Source Sans Pro', sans-serif;
	
}

.view-listado-blog .field-name-body,
.node.node-blog-post .field-name-body{
	font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  color: #575756;
  font-family: 'Source Sans Pro', sans-serif;
	margin: 10px 0 55px;
	display: block;
}

.view-listado-blog .views-field-view-node{
	position: absolute;
	bottom: 30px;
	right: 22px;
	height: 42px;
	line-height: 42px;
	background-image: url("../images/bg-boton-naranja-degradado.jpg");
	background-repeat: repeat-x;
	border-radius: 5px;
	transition: all 0.5s ease;
	
}
.view-listado-blog .views-field-view-node:hover{
	transform: translate(0, -5px);
}
.view-listado-blog .views-field-view-node a{
	color: #fff;
	display: block;
	padding: 0 20px;
	font-weight: 600;
    font-size: 18px;
    line-height: 42px;
    font-family: 'Source Sans Pro', sans-serif;

}

.sidebar-second #sidebar-second{
	padding: 0 50px 0 35px !important;
}


.view-display-id-block_2 .view-header h2{
	margin-bottom: 20px;
}

.view-id-shopping_cart .line-item-quantity-label{
	display: none;
}

#sidebar-second .blog-mas-leidos .views-field-field-image{
	width: 23%;
	float: left;
	margin-right: 2%;
}


#sidebar-second .blog-mas-leidos .views-field-field-image img{
	border-radius: 5px;	
}

#sidebar-second .blog-mas-leidos .views-field-nothing{
	width: 75%;
	float: left;
	
	
}

#sidebar-second .blog-mas-leidos .views-field-nothing h3 a{
	text-decoration: none;
	font-size: 14px;
}


#sidebar-second .block {
    clear: both;
    display: block;
    float: left;
	
}

#sidebar-second .blog-mas-leidos .views-field-nothing h3 {
	line-height: 16px;
	margin: 15px 0 5px 0;
}

#sidebar-second .blog-mas-leidos .views-field-nothing p {
	margin: 0;
	color: #575756;
	 font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
}

#sidebar-second .blog-mas-leidos .views-row{
	clear: both;
    width: 100%;
    float: left;
    display: block;
    margin-bottom: 15px;
}

#sidebar-second .block-taxonomy-menu-block {
	
}

#sidebar-second .block.bg-inferior-flor-bloque{
	padding-bottom: 65px;
	border-bottom: 1px solid #DADADA;
	width: 100%;
	background-image: url(../images/bg-bloque-sidebar-blog-min.png);
	background-position: center bottom;
	background-color: transparent;
	background-repeat: no-repeat;
	margin-bottom: 50px;
}

#sidebar-second .block-taxonomy-menu-block ul{
	padding: 0;
}
#sidebar-second .block-taxonomy-menu-block ul li{
	list-style: none;
	padding: 0;
	line-height: 40px;
}


#sidebar-second .block-taxonomy-menu-block ul li a{
	text-decoration: none;
	color: #575756;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	 font-weight: 400;
}

#sidebar-second .block-taxonomy-menu-block ul li:hover a,
#sidebar-second .block-taxonomy-menu-block ul li.active a{
	color: #E6007E;
}
.title-breadcrumb-container{
	    border-bottom: 1px solid #E8E8E8;
	margin-bottom: 30px;
}

header .header-top ul li a.active{
	color: #EDCA5A;
}


.node-blog-post{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 70px;
    position: relative;
	overflow: hidden;
}


.node-blog-post .field-name-field-image img{
		width: 100%;
}


.node-blog-post .field-name-body h2{
	font-family: 'IM Fell DW Pica', serif;
    font-weight: normal;
    font-size: 20px;

	margin: 10px 0;
	display: block;
}

.node-blog-post .field-name-body h3{
	font-family: 'IM Fell DW Pica', serif;
    font-weight: normal;
    font-size: 18px;

	margin: 25px 0 10px;
	display: block;
}

.field-name-share-this-field {
    text-align: right;
		font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #B2B2B2;
}

.share-this-label {
    display: inline-block;
    margin-right: 16px;
}

.share-this-link {
    display: inline-block;
}

.field-name-field-tags .field-item{
	display: inline-block;
	margin: 5px 10px 5px 0;
	padding: 10px 15px;
	border-radius: 5px;
	background-color: #DADADA;
}

.field-name-field-tags .field-label{
	 display: block;
    font-family: "IM Fell DW Pica",serif;
    font-size: 20px;
    font-weight: normal;
    margin: 10px 0;
}


#comments h2{
   color: #009837;
	font-size: 24px;
	font-family: "IM Fell DW Pica",serif;
    font-weight: normal;
	margin-top: 50px;
}

#comments h2.comment-form{
	color: #36A9E1;
}

#comments label{
	display: none;
}

#comments input[type="text"],
#comments input[type="email"]{
	width: 100%;
	color: #575756;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-weight: 300;
	padding: 0 15px;
	height: 43px;
	line-height: 43px;
	border-radius: 5px;
	border: 1px solid #EDEDED;
}

#comments textarea{
	width: 100%;
	color: #575756;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-weight: 300;
	padding: 0 15px;
	height: 125px;
	line-height: 43px;
	max-height: 125px;
	min-height: 125px;
	max-width: 100%;
	min-width: 100%;
	border-radius: 5px;
	border: 1px solid #EDEDED;
}

#comments #edit-author--2{
	display: none;
}

#comments #edit-actions #edit-preview{
	display: none;
}

.grippie{
	display: none;
}

.field-name-field-tags .field-item a{
	text-decoration: none;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	font-weight: 600;
	
}
#comments .comment {
	margin-bottom: 40px;
}

#comments .form-item-name{
	display: none;
}
#comments .comment .field-name-field-nombre-comentario{
	 color: #575756;
	font-size: 18px;
	font-family: "IM Fell DW Pica",serif;
    font-weight: normal;
}

#comments .comment .field-name-post-date{
	 color: #575756;
	font-size: 14px;
	font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

#comments .comment .field-name-comment-body{
	 color: #575756;
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

#comments p.nota{
	color: #9D9D9C;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
	margin-bottom: 40px;
	margin-top: -10px;
}

.not-logged-in  #user_login_form,
.ajax-register-links-wrapper, 
.not-logged-in #user_register_form{
	max-width: 340px;
	width: 100%;
	float: none;
	margin: 0 auto;
}

.logged-in #user_register_form,
.logged-in #commerce-addressbook-customer-profile-form{
	max-width: 620px;
}


.logged-in #commerce-addressbook-customer-profile-form div.addressfield-container-inline > div.form-item{
	margin: 0 0 15px 0;
	float: none;
}

#user_register_form{
	clear: both;
}

#user_login_form .description,
#user_register_form .description{
	display: none;	
}

#user_login_form label,
.not-logged-in #user_register_form label,
#user_pass_form label{
	display: none;
}
#user_login_form h1,
#user_register_form h1,
#user_pass_form h1,
#user_register_form h2{
	color: #EA5B0C;
	font-size: 24px;
	font-family: "IM Fell DW Pica",serif;
	text-align: center;
}

#user_register_form h2{
	text-align: left;
}

#user_login_form input[type="text"],
#user_login_form input[type="password"],
#user_register_form input[type="text"],
#user_register_form input[type="password"],
#user_pass_form input[type="text"],
.logged-in #commerce-addressbook-customer-profile-form input[type="text"],
.logged-in #commerce-addressbook-customer-profile-form select{
	width: 100%;
	border: 1px solid #9D9D9C;
	padding: 0 15px;
	height: 42px;
	line-height: 42px;
	color: #575756;
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

.logged-in #user_register_form label,
.logged-in #commerce-addressbook-customer-profile-form label{
	width: 41%;
	display: inline-block;
	color: #575756;
		font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;

}

.logged-in #user_register_form input[type="text"],
.logged-in #user_register_form input[type="password"],
.logged-in #commerce-addressbook-customer-profile-form input[type="text"],
.logged-in #commerce-addressbook-customer-profile-form select{

	display: inline-block;
	width: 58%;
}

#user_login_form input[type="submit"],
.not-logged-in #user_register_form input[type="submit"],
#user_pass_form input[type="submit"]{
	width: 100%;

}

#modal-content .user-login-links{
	display: none;
}

.facebook-login-button {
    text-align: center;
}

#user_login_form .form-item, 
#user_login_form .form-actions{
	margin: 10px 0;
}


.ajax-register-links-wrapper,
.user-login-links{
	clear: both;
	width: 100%;
	color: transparent;
}


.ajax-register-links-wrapper .ajax-register-links li, 
.user-login-links span{
	 display: inline-block;
    float: left;
    margin: 0 0 30px 0;
    padding: 0;

    width: 50%;
}

.user-login-links span{
	width: 49%;
}

.ajax-register-links-wrapper .ajax-register-links li.first,
.user-login-links span.register-link{
		border-right: 1px solid #9D9D9C;
}

.ajax-register-links-wrapper .ajax-register-links li.last,
.user-login-links span.password-link{
	padding-top: 10px;	
}

.ajax-register-links-wrapper .ajax-register-links li.last a,
.user-login-links span.password-link a{
	text-align: right;
}

.ajax-register-links-wrapper .ajax-register-links li a,
.user-login-links span a{
	color: #36434B;
	text-decoration: none;
	text-align: left;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 300;
	display: block;
	border-bottom: 0 none;
}


.ajax-register-links-wrapper,
.user-login-links{
	text-align: left;
}

div.ctools-modal-content .modal-content {
    margin: 0 auto;
	padding: 15px 15px 0;
	/*background-image: url(../images/bg-popup-login-min.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-color: transparent;*/
}

div.ctools-modal-content .modal-content form{

	background-image: url(../images/bg-popup-login-min.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-color: transparent;
}

div.ctools-modal-content .modal-content form#user-register-form{
		padding: 0px 0px 150px;
}

div.ctools-modal-content .modal-content form#user-login,
div.ctools-modal-content .modal-content form#user-pass{
		padding: 0px 0px 70px;
}

div.ctools-modal-content .modal-header{
	background-color: #fff;
	display: block;
    float: left;
    padding: 0 0.25em 0 1em;
    width: 100%;
}

.modal-header .modal-title{
	display: none;
}

.modal-header img{
	display: none;
}

.modal-header a.close{
	display: block;
	width: 18px;
	height: 18px;
	background-image: url(../images/cerrar-popup.png);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center;
	margin: 10px 5px 0 0 ;
}

.confirm-parent, .password-parent, div.form-item div.password-suggestions{
	width: 100%;
}

.modal-default {
    top: 150px !important;
}

div.ctools-modal-content{
	border-bottom: 5px solid #EA5B0C;
}

.not-logged-in  #block-menu-menu-user-menu{
	display: none;	
}

.tabs{
	display: none;
}

#user_pass_form{
	max-width: 650px;
	margin: 0 auto;
	float: none;
}


.logged-in .password-strength,
.logged-in .password-confirm{
display: none;
}

.menu-perfil ul {
	padding: 0;
	margin: 0;
}

.menu-perfil ul li{
	list-style: none;
	margin: 0;
	padding: 0 10%;
	width: 100%;
	background-color: #EDEDED;
	height: 52px;
	line-height: 52px;
	margin-bottom: 5px;
}

.menu-perfil ul li.active{
	border-left: 3px solid #EA5B0C;	
	background-image: url(../images/bg-menu-perfil-active-min.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-color: #F6F6F6;
}

.menu-perfil ul li a{
	color: #575756;
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
	text-decoration: none;
	display: block;
}

.pager.pager--infinite-scroll li{
	display: none;
}

.page-user .main{
	padding-left: 40px;
	padding-top: 60px;
}

.page-user .main p{
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
	text-decoration: none;
	color: #575756;
}

.page-user .main a{
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
	text-decoration: none;
	color: #575756;

}

#commerce-addressbook-customer-profile-form legend{
	display: none;
	
}

#commerce-addressbook-customer-profile-form fieldset{
	border: 0px;
	padding: 0px;
	margin: 0px;
	
}

#commerce-addressbook-billing-default{
	margin-bottom: 50px;
}

#commerce-addressbook-billing-list tr{
	display: block;
    padding-bottom: 30px;
}

.commerce-order-commerce-order table{
	width: 100%;
	margin-bottom: 35px;
}

.commerce-order-commerce-order .field-type-commerce-customer-profile-reference{
	width: 50%;
	float: left;
}

.page-user .main-content{
	margin-bottom: 50px;
}