@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|family=IM+Fell+DW+Pica);
/*Terapias*/
.view-terapias-usuarios .ui-accordion .ui-accordion-header {
	border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	min-height: 48px;
  padding: 0px;
  background: #dadada url(../images/terapias-fondo.png) no-repeat right 7px;
}

.view-terapias-usuarios .ui-accordion .ui-accordion-content{
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: none;
  padding: 10px;
}

.view-terapias-usuarios .ui-accordion .ui-accordion-content p{
  margin: 0px;
  color: #575756;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

.view-terapias-usuarios .ui-accordion .ui-accordion-content p a {
  font-weight: 600;
}

.view-terapias-usuarios .ui-accordion .ui-accordion-header .field-name-field-tipo-de-terapia{
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-right: 1px solid #575756;
  min-width: 160px;
  font-weight: bold;
}

.view-terapias-usuarios .ui-accordion .ui-accordion-header .field-name-field-tipo-de-terapia,
.view-terapias-usuarios .ui-accordion .ui-accordion-header .field-name-field-fecha-terapia {
	float: left;
	line-height: 27px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #575756;
}

.view-terapias-usuarios .ui-accordion .ui-accordion-header .field-name-field-fecha-terapia {
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
}

.view-terapias-usuarios .ui-state-default .ui-icon {
  background-image: none;
}

.view-terapias-usuarios .ui-accordion .ui-accordion-header.ui-state-active{
  background-color: #009b3d;
  -ms-background-position-y: -40px;
  background-position-y: -40px;
} 

.view-terapias-usuarios .ui-accordion .ui-accordion-header.ui-state-active .field-name-field-tipo-de-terapia a,
.view-terapias-usuarios .ui-accordion .ui-accordion-header.ui-state-active .field-name-field-fecha-terapia {
  /*color: #fff;*/
}

/* Added by Juan Martinez: Tienda */
#block-taxonomy-menu-block-1 {
	position: absolute;
	top: 0;
	right: -465px;	
	background-color: #ea5b0c;
	position: fixed;
	z-index: 1000000000;
	width: 350px;
	height: 100%;
	padding: 20px 0px;
	padding-top: 0px;	
	transition: all 0.8s ease;
	    overflow-y: scroll;
}

#block-taxonomy-menu-block-1 ul {
	float: left;	
}




#block-taxonomy-menu-block-1 ul li a:hover{
	background-color: #fff;
	color: #ea5b0c;
}

/*#block-taxonomy-menu-block-1.open {
	right: 0px;
}*/

.view-tienda .views-row,
.view-collection-products .views-row{
	max-height: 433px;
	min-height: 433px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #ddd;
	/*margin-right: 108px;
	width: 320px;*/
	width: 27%;
	margin-bottom: 35px;
	padding: 15px 25px;
	position: relative;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.view-tienda .view-content,
.view-collection-products .view-content{
	  display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-between;
}

.view-collection-products .field-name-imagen-representativa img {
	margin: 0 auto;
	display: block;
	max-height: 230px;
}

.view-collection-products .views-row{
	width: 326px;
}

.page-product-category .view-collection-products h2{
	width: 100%;
	margin-bottom: 0px;
	margin-top: 0px;
	font-size: 20px;
}

.view-tienda{
	font-family: '';
}

.view-tienda .views-row:nth-child(3n),
.view-collection-products .views-row:nth-child(3n){
	margin-right: 0px;
}

.view-tienda .views-row:hover{
	background-image: url('../images/mouse-over-categoria.png');
}

.view-tienda .views-row .vocabulary-product-category .field-name-title,
.view-collection-products .views-row .field-name-title-field{
	text-align: center;	
}


.view-tienda .views-row .vocabulary-product-category .field-name-title h2 a,
.view-collection-products .views-row .field-name-title-field h2 a,
.node-product-type .field-name-title-field h2,
h2.rosado{
	color: #e71d73;
	line-height: 25px;
}


.view-tienda .views-row .vocabulary-product-category .field-name-title h2{
	font-size: 21px;
	line-height: 24px;
}

.node-product-type-product-list .field-name-title-field h2 {
	margin-bottom: 0px !important;
	margin-top: 0px !important;
	width: 100%;
	font-size: 20px;
}

.page-node .node-product-type .field-name-title-field h2{
	margin-bottom: 40px;
}

.view-tienda .views-row .vocabulary-product-category .field-name-title h2{
	margin-bottom: 0px;
}

.view-tienda .views-row .vocabulary-product-category .field-name-title h2 a:hover{
	color: #fff;
}

.view-tienda .views-row .vocabulary-product-category .field-name-more-link {
	position: absolute;
	bottom: 30px;
  left: 48px;
	z-index: 1;
}

.view-tienda .views-row .vocabulary-product-category .field-name-more-link:before {
	left: 55px;
	right: 0;
	bottom: -33px;
	font-size: 100px;	
}

.view-tienda .views-row .vocabulary-product-category .field-name-field-resumen-producto,
.view-collection-products .views-row .field-name-field-resumen-producto,
.view-collection-products .views-row .field-name-roll-over-producto #detalle{
	font-size: 14px;
	font-family:'Source Sans Pro', sans-serif;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
	color: #575756;
}

.view-collection-products .views-row .field-name-roll-over-producto #detalle{
	color: #fff;
	margin-top: 160px;
}

.pane-content .izq,
.pane-content .der{
	width: 49%;	
}

.pane-content .izq {
	float: left;
}

.pane-content .der {
	float: right;
}

.page-tienda-en-linea .h28.hrosado,
.page-product-category h2{
	  float: left;
    width: 55%;
		color: #e71d73;
	 	font-family: 'Source Sans Pro', sans-serif;
}

.ver-mas, #menu-toggle-wrapper {
	float: left;
}

.ver-mas.abierto a {
	background-image: url('../images/ver-mas-abierto.png');
	background-repeat: no-repeat;
	background-position: 65px;
}

.ver-mas.cerrado a {
	background-image: url('../images/ver-mas-cerrado.png');
	background-repeat: no-repeat;
	background-position: 65px;
}


.ver-mas a, #menu-toggle-wrapper a{
  padding: 30px 50px 30px 15px;
	display: block;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #706f6f;
}

#menu-toggle-wrapper a {
	font-size: 16px;
	font-weight: 300;
	color: #ea5b0c;
	text-transform: uppercase;
}

#menu-toggle-wrapper {
	float: right;
	background-image: url('../images/menu-responsive.png');
	background-repeat: no-repeat;
	background-position: right;
}

.category-description{
	float: left;
	clear: both;
}

.view-collection-products{
	clear: both;
}

.page-product-category h2{
	width: initial;
}

.views-exposed-widgets {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #ddd;
	padding: 10px 20px 15px 20px;
}

.views-exposed-widgets label{
	margin-right: 10px;
	padding-top: 13px;
}

.views-exposed-widgets label,
.views-exposed-widgets .views-widget{
	float: left;
}

.views-exposed-widget .form-submit {
	margin-top: 0px !important;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	background-color: #006633;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	padding: 15px 25px;
	border: none;
}

.chosen-container .chosen-single{
	background-image: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	height: 48px;
}

.chosen-container .chosen-single span{
	margin-top: 10px;
}

.chosen-container-active.chosen-with-drop .chosen-single div,
.chosen-container-single .chosen-single div{
    margin-top: 10px;
}

.view-collection-products .views-row{
	overflow: hidden;
}

.view-collection-products .views-row .node-product-type{
	position: initial;
}

.view-collection-products .views-row .field-name-node-link a{
	  background-image: url("../images/bg-boton-naranja-degradado.jpg");
    background-repeat: repeat-x;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    display: block;
    float: none;
    margin: 42px auto 0;
    line-height: 44px;
    height: 44px;
    padding: 0 5px;
    width: 225px;
		transition: 0.5s ease;
}

.view-collection-products .views-row:hover .field-name-roll-over-producto{
		/*display: block;*/
		top: 0;
}

.view-collection-products .views-row:hover .field-name-node-link{
	  display: none;
}

.view-collection-products .views-row .field-name-roll-over-producto{	
	  position: absolute;
    top: 100%;
    max-height: 433px;
    min-height: 433px;
    left: 0px;
    width: 100%;
    padding: 15px 25px;
		background-image : url("../images/mouse-over-categoria.png");
		opacity: 0.9;
		/*display: none;*/
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
}

.view-collection-products .views-row .field-name-roll-over-producto #titulo {
	margin-top: 25px;
	text-align: center;
}

.view-collection-products .views-row .field-name-roll-over-producto #titulo a{	
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 21px;
	font-weight: 400;
	color: #fff;
}

.view-collection-products .view-content {
	margin-top: 50px;
}

#url-compra {
	  bottom: 45px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 180px;
}

#url-compra a{
        background-color: #fff;
    text-align: center;
    color: #e71d73;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 18px;
    border-radius: 5px;
    opacity: 1;
    display: block;
    line-height: 45px;
}

#url-compra a:before{
	    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
	    content: '\e816';
    position: absolute;
    font-size: 115px;
    left: 0;
    right: 0;
    margin: -6px auto 0;
    z-index: -1;
    color: rgba(255, 255, 255, 0.3);
}
/*Detalle del producto*/
.ds-2col-stacked-fluid.node-product-type-full > .group-left {
	width: 53.5%;
	height: 480px;
}

.ds-2col-stacked-fluid.node-product-type-full > .group-right {
	width: 40%;
	height: 480px;
}

.node-product-type.view-mode-full {
	margin-top: 50px;
}

.node-product-type.view-mode-full .commerce-product-field-field-images img {
	margin: 0 auto;
	display: block;
}

.node-product-type.view-mode-full .commerce-product-field-field-images {
	height: 100%;
	width: 100%;

}

.ds-2col-stacked-fluid.node-product-type-full > .group-left a.cloud-zoom{
		border: 1px solid #ddd;
		border-radius: 10px;
		overflow: hidden;
	}

.node-product-type.view-mode-full .commerce-product-extra-field-sku {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #878787;
}

.node-product-type-product-list .field-name-imagen-representativa {
	min-height: 258px;
	max-height: 258px;
}

.commerce-product-sku-label {
	font-weight: 400
}

.commerce-add-to-cart #edit-product-id,
.commerce-add-to-cart .form-item-quantity input{
	border: 1px solid #ddd;
	padding: 15px 10px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #878787;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 100%;
}

.commerce-add-to-cart .form-item-quantity input{
	text-align: left !important;
	width: 100% !important;
	margin-right: 0px !important;
}

.form-item-quantity label {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #878787;
	margin-bottom: 10px;
}

#costo-unidad-label,
#costo-preliminar-label{
	float: left;
	margin-top: 15px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: #878787;
}

#costo-unidad-monto,
#costo-preliminar-monto{
	float: right;
	margin-top: 10px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 26px;
	color: #878787;
}

.form-item-product-id {
	height: 100px;
}

.field-name-commerce-price {
	display: none;
}

.form-item-quantity {
	height: 160px;
}

.cart-submit {
	float: right;
	background-color: #ededed;
	background-image: url('../images/cart.png');
	background-repeat: no-repeat;
	background-position: 75px 15px;
	border-radius: 5px;
	color: #575756;
	font-size: 12px;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: left;
	display: block;
	border: none;
	line-height: 25px;
	height: 44px;
	padding: 10px 20px;
	width: 110px;
	transition: 0.5s ease;
	font-weight: 600;
}

.group-footer {
	padding-top: 90px;
}

.ui-tabs,
.ui-tabs-nav{
	border: none !important;
}

.ui-tabs-nav {
	background: none;
}

.ui-tabs-panel {
	border: 1px solid #ddd !important;
	border-top-color: #ea5b0c !important;
  border-top-width: 1px !important;
	padding: 30px 60px 60px 60px !important;
}

.ui-tabs .ui-tabs-nav {
	padding: 0px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	border-top: 1px solid #ddd !important;
	border-left: 1px solid #ddd !important;
	border-right: 1px solid #ddd !important;
	background-color: #fff !important;
}

.ui-state-default {
	background-color: #ccc !important;
	border: none !important;
	background-image: none !important;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.ui-state-default.ui-state-active{
	background-color: #ededed !important;
}

.ui-tabs ul li a{
	padding: 20px 65px !important;
	color: #9d9d9c !important;
	font-size: 18px !important;
	font-family: 'Source Sans Pro', sans-serif !important;
	font-weight: 600 !important;
}

#enlaces {
	width: 100%;
	text-align: right;
	margin-top: 15px;
}

#enlaces a{ 
	text-decoration: underline;
	color: #9d9d9c;
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 500;
	display: block;
}

.bx-wrapper .bx-viewport {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: none;
}

.view-collection-products {
	margin-top: 50px;
}

.view-collection-products .view-header, 
.node-product-type-product-list .field-name-title{
	text-align: center;
}

.view-collection-products .view-content {
	margin-top: 25px;
}

.view-collection-products .view-header h2{
	margin-bottom: 0px;
	color: #63a9e1;
	font-size: 28px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
}

#block-views-26be7df0d55169e550f69d9e72e8b2a3 {
	margin-top: 80px;
}

#block-views-26be7df0d55169e550f69d9e72e8b2a3 .bx-wrapper .bx-viewport {
	height: 450px !important;
}

div.messages.commerce-add-to-cart-confirmation {
	    z-index: 999999;
    width: 856px;
    background-color: #ededed;
    border-bottom: 5px solid #ea5b0c;
    left: 0;
    right: 0;
    margin: 0 auto !important;
}

div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper {
	width: 34%;
	background-color: #fff;
	padding: 75px 45px
}

div.messages.commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content {
	width: 100% !important;
	padding-left: 55px;
	padding-bottom: 70px;
}

div.messages.commerce-add-to-cart-confirmation .view-confirm-message-product-display {
	width: 65% !important;
}

.commerce-add-to-cart-confirmation .added-product-title {
	color: #ea5b0c !important;
	font-size: 24px !important;
	font-family: 'IM Fell DW Pica', serif !important;
	font-weight: 600 !important;
	text-transform: none !important;
	width: 65% !important;
	text-align: left !important;
	padding: 65px 15px 35px 55px !important;
}

.view-mode-add_to_cart_confirmation_view .group-left {
	background-color: #fff;
	border-radius: 10px;
	padding: 10px;
}

.view-mode-add_to_cart_confirmation_view .group-right {
	width: 45%;
}

.view-mode-add_to_cart_confirmation_view .group-footer {
	display: none;
}

.view-mode-add_to_cart_confirmation_view .field-name-titulo-producto h3{
	margin-top: 50px;
	color: #575756 !important;
	font-size: 18px !important;
	font-family: 'Source Sans Pro', sans-serif !important;
	font-weight: 600 !important;
}

.view-confirm-message-product-display .views-field-quantity {
	position: absolute;
	right: 160px;
	top: 155px;
}

.view-confirm-message-product-display .views-field-commerce-total{
	position: absolute;
	right: 24px;
	top: 200px;
	width: 37%;
}

div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button.checkout {
	background: none !important;
	padding: 0px;
}

.views-field-commerce-total .field-content{
	color: #575756 !important;
	font-size: 24px !important;
	font-family: 'Source Sans Pro', sans-serif !important;
	font-weight: 600 !important;
	text-decoration: uppercase;
}

.views-label-commerce-total {
	color: #575756 !important;
	font-size: 18px !important;
	font-family: 'Source Sans Pro', sans-serif !important;
	font-weight: 600 !important;
}

div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button.checkout a{
	background-color: none;
	background-image: url("../images/bg-boton-naranja-degradado.jpg");
	background-repeat: repeat-x;
	border-radius: 5px;
	color: #fff;
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	display: block;
	line-height: 44px;
	height: 44px;
	padding: 0 5px;
	width: 100%;
	transition: 0.5s ease;
}

div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button.continue {
	color: #575756 !important;
	background-color: #ededed;
}

.button-wrapper {
	background-image: url('../images/fondo-cart-preview-min.png');
	background-repeat: no-repeat;
	    background-position: center bottom;
}