@media (max-width: 479px) {
	.titulo-seccion h2{
		line-height: 20px;
	}
	.breadcrumb,
	#block-block-6{
		display: none;
	}

	body p,
	body li{
		font-size: 15px;
	}
	.h28{
		font-size: 20px;
		line-height: 24px !important;
	}
	h3, h4{
		font-size: 16px;
	}


	header .header-top{
		padding: 10px 0px;
	}
	header .header-top,
	header .header-top .menu{
		text-align: center;
	}
	header .header-top .view-shopping-cart{
		width: 50px;
		float: none;
		margin: 0 auto;
	}
	
	.panel-pane.fullwidth.slider .caption-container{
		display: none;
	}
	
	.panel-pane.fullwidth.slider .slide img {
    float: none;
    margin: 0 auto;
		max-width: auto;
		height: 175px;
	}
	
	.panel-pane.fullwidth.slider .bx-wrapper .bx-viewport{
		height: 175px !important;
	}
	
	.panel-pane.fullwidth.slider .slide{
		max-height: 175px;
	}
	
	.view-cursos .bx-viewport{
		width: 308px !important;
		margin: 0 auto;
		left: 0px;
	}
	
	.view-cursos .bx-wrapper .bx-prev{
	left: 10px;
}

.view-cursos .bx-wrapper .bx-next{
	right: 10px;
}
.w-col.isla-terapia-home {
    min-height: 294px;
    margin-bottom: 50px;
}
}