@media (max-width: 479px) {
	.titulo-seccion h2{
		line-height: 20px;
	}
	.breadcrumb,
	#block-block-6{
		display: none;
	}

	body p,
	body li{
		font-size: 15px;
	}
	.h28{
		font-size: 20px;
		line-height: 24px !important;
	}
	h3, h4{
		font-size: 16px;
	}


	header .header-top{
		padding: 10px 0px;
	}
	header .header-top,
	header .header-top .menu{
		text-align: center;
	}
	header .header-top .view-shopping-cart{
		float: none;
    /*margin: 0 auto 0 25px;
    padding-left: 35px;*/
    	width: 60px;
	}

	
	
	.panel-pane.fullwidth.slider .caption-container{
		display: none;
	}
	
	.panel-pane.fullwidth.slider .slide img {
    float: none;
    margin: 0 auto;
		max-width: auto;
		height: 175px;
	}
	
	.panel-pane.fullwidth.slider .bx-wrapper .bx-viewport{
		height: 175px !important;
	}
	
	.panel-pane.fullwidth.slider .slide{
		max-height: 175px;
	}
	
	.view-cursos .bx-viewport{
		width: 308px !important;
		margin: 0 auto;
		left: 0px;
	}
	
	.view-productos-relacionados .bx-viewport{
		width: 308px !important;
		margin: 0 auto;
		left: 0px;
	}
	
	.view-cursos .bx-wrapper .bx-prev{
	left: 10px;
}

.view-cursos .bx-wrapper .bx-next{
	right: 10px;
}
	

	.view-productos-relacionados .bx-wrapper .bx-prev{
	left: 26px;
}


	.view-productos-relacionados .bx-wrapper .bx-next{
	right: 22px;
}
	
.w-col.isla-terapia-home {
    min-height: 294px;
    margin-bottom: 50px;
}
	
	.pilares {
    height: 175px;
}
	
	.pilares:before {
    font-size: 160px;
}
	
	.pilares p {
     font-size: 21px; 
}
	
	
	/*Reiki*/
	
	.principios-reiki .w-col-2{
	    padding: 44px;
		margin: 10px 0;
	}
	
	.principios-reiki .w-col p:before {
		    font-size: 156px;
	}
	
	
	.reiki-quienes .image-container{
		max-height: 190px;
	}

			
	.reiki-beneficios .image-container{
		max-height: 182px;
	}
	
		.reiki-beneficios .image-container .caption p {
		font-size: 18px;
    line-height: 21px;
		}
	
	
	.h28.decora-der{
		line-height: 50px !important;
	}

	
.node-type-curso .field-name-body{
		-moz-column-count: 1;
	-webkit-column-count: 1;	
	column-count: 1;

	}
	
	.node-webform .h28.decora-der {
    line-height: 32px !important;
}
	
	.page-contactenos iframe{
		height: 350px;
	}
	
	.contact-sidebar {
   margin-bottom: 50px;
}
	
	.page-blog .main .view-listado-blog {
    padding: 0 15px;
}
	
		.sidebar-second #sidebar-second {
    margin: 30px auto;
}
	
	.pager li{
		padding: 3px 8px !important;
	}

	.page-user .main{
	padding: 0 2%;
}
	
	.titulo-seccion h2, .title-breadcrumb-container h1, .title-breadcrumb-container h2{
		margin-top: 10px;	
	}
	
	#sidebar-first{
		margin-bottom: 50px;
	}
	
	
	.view-commerce-cart-form th, .view-commerce-cart-form td,
	.view-commerce-cart-summary th, .view-commerce-cart-summary td{
    padding: 5px;
	}
	
	
	.view-commerce-cart-form td h3 a,
	.view-commerce-cart-form th,
	.view-commerce-cart-summary td h3 a,
	.view-commerce-cart-summary th{
		font-size: 14px;
	}
	.view-commerce-cart-form td h3,
	.view-commerce-cart-summary td h3{
		margin-top: 0px;
	}
	.view-commerce-cart-form td.views-field-edit-quantity,
	.view-commerce-cart-form td.views-field-commerce-unit-price, 
	.view-commerce-cart-form td.views-field-edit-delete, 
	.view-commerce-cart-form td.views-field-commerce-total,
	.view-commerce-cart-summary td.views-field-quantity,
	.view-commerce-cart-summary td.views-field-commerce-unit-price, 
	.view-commerce-cart-summary td.views-field-edit-delete, 
	.view-commerce-cart-summary td.views-field-commerce-total{
		font-size: 14px;
		padding: 5px;
	}
	

	.view-commerce-cart-form td.views-field-edit-quantity input{
		font-size: 12px;
	}
	
	.commerce-product-sku-label{
		font-size: 12px;
	}
	
	
	.page-cart .titulo-seccion h2,.page-cart  .title-breadcrumb-container h1,.page-cart  .title-breadcrumb-container h2,
	.page-checkout .titulo-seccion h2,.page-checkout  .title-breadcrumb-container h1,.page-checkout  .title-breadcrumb-container h2{
		display: none;
	}
	
	.view-commerce-cart-form .commerce-price-formatted-components,
	.view-commerce-cart-summary .commerce-price-formatted-components{
		width: 65%;
		height: 50px;
	}
	
	.view-commerce-cart-form .commerce-price-formatted-components td,
	.view-commerce-cart-summary .commerce-price-formatted-components td{
		font-size: 14px;
	}
	
	.view-commerce-cart-form .entity-commerce-product .group-right,
.view-commerce-cart-summary .entity-commerce-product .group-right {

	margin-left: 0px;
}
	
	div.addressfield-container-inline > div.form-item{
		margin-right: 0;
	}
	
	#commerce-checkout-form-checkout input[type="text"], #commerce-checkout-form-checkout select{
		width: 100%;
	}
	
	.view-commerce-cart-form #edit-actions #edit-checkout,
	#commerce-checkout-form-checkout #edit-continue,
	#commerce-checkout-form-shipping #edit-continue,
	#commerce-checkout-form-review #edit-continue{
		margin-bottom: 20px;
	}
	
	.bx-clone {
  display: none;
}
	
	.views-exposed-widgets select,
	.views-exposed-widgets input[type="text"]{
		min-width: 160px;
		
	}
	
	.views-exposed-form .views-exposed-widget{
		padding-right: 0;
	}
	
	.views-exposed-widget.views-submit-button .form-submit,
	.views-exposed-widget.views-reset-button .form-submit{
		margin-top: 25px !important;
	}
	
	.youtube-center{
		max-height: 235px;
		width: 100%;
	}
	
	
	.productos-categorias-home .bx-wrapper{
		    max-width: 200px !important;
	}
}

