@media (max-width: 991px) {

	.beneficios:before{
		font-size: 160px;
	}
	.submenu-aurasoma .menu{
		height: auto;
	}
	.submenu-aurasoma .menu li{
		display: block;
	}
	.submenu-aurasoma .menu li a{
		display: block;
		width: 100%;
		max-width: 100%;
		border: none !important;
		height: auto;
		line-height: 40px;
	}
	header .header-content #logo{
		float: none;
		margin: 0 auto;
		text-align: center;
	}
	header .header-content{
		padding-bottom: 15px;
	}
	header .header-content .block{
		float: none;
		margin: 0 auto;
	}
	header .header-content .block .menu li a{
		padding: 0px 25px;
		font-size: 19px;
	}

	.fullwidth .pane-title,
	.panel-pane .pane-content,
	.w-container{
		/*padding: 0px 5px;*/
	}

	h1.decora, h2.decora{
		line-height: 28px;
	}
	
	.fullwidth, .panel-pane.fullwidth{
		width: 100%;
		max-width: 100%;
	}
	
		.tinynav-wrapper{
		/*padding: 0 0 0 10px;*/
		width: 96%;
		margin: 20px auto;
		border-radius: 4px;
		border: 1px #6D2B5F solid;
		overflow: hidden;
	}
	
	.tinynav-wrapper select{
		width: 100%;
		height: 40px;
		line-height: 40px;
		border: 0;
		box-shadow : none;
	}
	.panel-pane.fullwidth.slider .bx-wrapper .bx-viewport{
		left: 0;
		    max-height: 412px !important;

	}
	
	.panel-pane.fullwidth.slider .slide img{
		width: auto;
		height: 100%;
		max-width: none;
	}
	
	.panel-pane.fullwidth.slider .slide .fluid-width-video-wrapper iframe{
		top: 0;
	}
	
	.w-col.isla-terapia-home{
		min-height: 470px;
	}
	
	.view-cursos .bx-wrapper{
		max-width: 646px !important;
	}
	
	header .header-top, header .header-top .menu{
		text-align: center;
	}
	 header .w-col{
		width: 100%;
	}
	
	header .header-top .view-shopping-cart {
    width: 50px;
    float: none;
    margin: 0 auto;
		display: inline-block;
		border-left: 0px;
}
	
	header .header-top{
		padding-bottom: 20px;
	}
	
	
	/* Aura Soma */
	
	.beneficios{
		height: 180px;
	}
	
	.pilares{
		height: 120px;
	}
	
	.beneficios{
    padding: 0px 20px;
	}
	.beneficios p{ 
		font-size: 18px;
	}

.pilares p{
	font-size: 15px;
}
	
	.pilares:before {
    font-size: 108px;
}
		/*Reiki*/
	
	.principios-reiki .w-col-2 {
    padding: 0px 15px;
}
	
	.principios-reiki .w-col p:before {

    font-size: 115px;

}
	

	.submenu{
		padding: 15px 0 0 0;
		
	}
	
	.submenu .tinynav-wrapper{
		    margin: 0 auto;
		padding: 0;
	}
	
	.submenu  .tinynav-wrapper select{
	    background-color: rgba(255,255,255,0.4);
	}
	
	
	.nombres-reiki .w-col p.texto-con-bg{
		padding: 36px 0;
	}
	
	.nombres-reiki .w-col p.texto-con-bg:before{
		font-size: 115px;
	}
	
		.nombres-reiki .w-col p.h33{
		font-size: 25px;
	}
	
	.titulo-seccion{
		    margin: 14px 2%;
	}
	
		
	h1.decora:before, h1.decora:after, h2.decora:before, h2.decora:after{
		font-size: 45px;
	}
	
	.reiki-quienes .image-container .caption p {
    font-size: 18px;
    line-height: 21px;
}
	
	.reiki-beneficios .image-container .caption p {
		font-size: 16px;
    line-height: 19px;
		}
	.reiki-quienes .image-container  img,
	.reiki-beneficios .image-container  img{
		width: 100%;
	}
	
		
	.reiki-beneficios .image-container{
		max-height: 106px;
	}
	
	
	.w-container-inner{
		padding: 0 2%;
	}
	
	.node-type-curso .pane-entity-field{
		padding: 0 4%;
	}
	
	.node-webform{
	padding: 10px 4%;
}
	
	.page-contactenos iframe{
		width: 100%;
	}
	
	.contact-sidebar {
    padding-left: 20px;
		padding-right: 20px;
}
	
	.node-webform.node-webform-contacto {
    padding: 10px 20px 10px 20px;
}
	.page-blog .main .view-listado-blog {
    padding-left: 15px;
}
	
	
	.sidebar-second #sidebar-second {
    padding: 0 15px !important;
}
	
	

		
	.redes a{
		margin-right: 5px;
	}
	
	.node-blog-post {

    margin-left: 0px;

}
	.page-user .main-content {

    padding: 0 2%;
}
	
	.page-user .main.w-col-8 {
		padding-left: 10px;
	}
	
	

	
	.view-commerce-addressbook table td{
		border: 1px solid #fafafa;
	}
	

	
	.view-commerce-cart-form .entity-commerce-product .group-left,
	.view-commerce-cart-summary .entity-commerce-product .group-left{
		display: none;
	}
	
	.view-commerce-cart-form .entity-commerce-product .group-right,
	.view-commerce-cart-summary .entity-commerce-product .group-right{
		width: 100%;
		float: left;
	}
	
	.view-tienda .views-row, .view-collection-products .views-row{
		min-height: 450px;
	}
	
	.view-tienda .field-name-icono{
		font-size: 100px;
	}
	
	.view-tienda .views-row .vocabulary-product-category .field-name-title h2 a, .view-collection-products .views-row .field-name-title-field h2 a, .node-product-type .field-name-title-field h2, h2.rosado{
		font-size: 18px;
		line-height: 22px;
	}
	
	
	.view-tienda .views-row .vocabulary-product-category .field-name-more-link{
		left: 0;
		right: 0;
		margin: 0 auto;
		bottom: 18px;
	}
	
	.anaranja-degradado, .pager.pager--infinite-scroll a, .view-tienda .views-row .vocabulary-product-category .field-name-more-link a{
		width: 85%;
	}
	
	div.messages.commerce-add-to-cart-confirmation{
		width: 90%;
	}
	

}






@media (max-width: 767px) {
	header .language-switcher-locale-url li a{
		font-size: 14px;
		line-height: 24px;
	}
	.beneficios{
		width: 215px;
	}
	h1.decora:after, h2.decora:after, h3.decora:after,
	h1.decora-der:after, h2.decora-der:after, h3.decora-der:after{
		padding-left: 10px;
	}
	h1.decora-der:after, h2.decora-der:after, h3.decora-der:after{
		padding-right: 10px;
		font-size: 50px;
	}
	
	h1.decora:before, h2.decora:before {
    padding-right: 10px;
}
	
	h1.decora-der, h2.decora-der, h3.decora-der{
		padding: 0 10px;
	}

	.beneficios{
		margin: 0 auto;
	}
	.redes{
		text-align: center;
	}
	.redes a{
		float: none;
		display: inline-block;
	}
	footer .block,
	footer .block .menu li{
		text-align: center;
	}
	footer .block .footer-logo{
		display: block;
		margin-bottom: 25px;
	}
	.llamado a{
		float: none;
		margin-top: 0px;
		margin-bottom: 15px;
	}
	.fullwidth{
		width: 100%;
		position: static;
		left: auto;
	}
	
		/*Reiki*/
	
	.principios-reiki .w-col-2 {
    padding: 0px 15px;
}
	
	.principios-reiki .w-col p:before {

    font-size: 115px;

}

	/*Tienda*/

.not-logged-in #block-menu-menu-user-menu{
	display: block;	
}
	
.not-logged-in 	#block-ajax-register-ajax-register-block{
		display: none;
	}
	
	.logged-in #user_register_form label, .logged-in #commerce-addressbook-customer-profile-form label,
	.logged-in #user_register_form input[type="text"], .logged-in #user_register_form input[type="password"], 
	.logged-in #commerce-addressbook-customer-profile-form input[type="text"], .logged-in #commerce-addressbook-customer-profile-form select{
		width: 100%;
	}
	
		.commerce-order-commerce-order .field-type-commerce-customer-profile-reference{
		width: 100%;
		margin-bottom: 40px;
	}
	
		.view-commerce-user-orders  table,
	.view-commerce-user-orders  table a,
	.view-commerce-addressbook table,
	.view-commerce-addressbook   table a{
	font-size: 14px !important;
}
	
	.view-tienda .views-row, .view-collection-products .views-row{
		width: 90%;
	}
	.view-tienda .views-row, .view-collection-products .views-row{
		min-height: 433px;
	}
	
		.view-tienda .field-name-icono{
		font-size: 150px;
	}
	
	.view-tienda .views-row .vocabulary-product-category .field-name-title h2 a, .view-collection-products .views-row .field-name-title-field h2 a, .node-product-type .field-name-title-field h2, h2.rosado{
		font-size: 21px;
		line-height: 25px;
	}
	
	
	.view-tienda .views-row .vocabulary-product-category .field-name-more-link:before{
		left: 0;
		right: 0;
		text-align: center;
	}
	
	.ui-tabs ul li a{
		padding: 8px 12px !important;
	}
	
	.ui-tabs-panel{
		padding: 20px 20px 60px 20px !important;
	}
	
	.ds-2col-stacked-fluid.node-product-type-full{
		
	}
	
	
	
	
	.ds-2col-stacked-fluid.node-product-type-full > .group-left,
	.ds-2col-stacked-fluid.node-product-type-full > .group-right{
		width: 90%;
		float: none;
		margin: 30px auto;
		height: auto;
	}
	
	.ds-2col-stacked-fluid.node-product-type-full > .group-left a.cloud-zoom{
		margin-bottom: 20px;
	}
	
		.commerce-add-to-cart-confirmation .added-product-title,
	div.messages.commerce-add-to-cart-confirmation .view-confirm-message-product-display{
		width: 100% !important;
	}
	
	div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper{
		width: 100% !important;
		clear: both;
		
    position: relative;
		padding: 28px 45px;
	}
	
	 	div.messages .ds-2col-stacked-fluid > .group-left,
	div.messages .ds-2col-stacked-fluid > .group-right{
		width: 100%;
	}
	
	.commerce-add-to-cart-confirmation .added-product-title{
		padding: 43px 20px 15px 20px !important;
	}
	
	
	.view-confirm-message-product-display .views-field-quantity{
		position: relative;
		top: 0;
		left: 0;
	}
	
	.view-confirm-message-product-display .views-field-commerce-total{
		position: relative;
		width: auto;
		top: 0;
		left: 0;
	}
	
	div.messages.commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content{
		padding: 15px;
	}
	
	div.messages.commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content .field-type-image{
		text-align: center;
	}
	

}



