
.icon-flor2:before { content: '\e802'; } /* '' */
.icon-pendantes_logo:before { content: '\e817'; } /* '' */
.icon-aretes_logo:before { content: '\e818'; } /* '' */
.icon-pulseras_logo:before { content: '\e819'; } /* '' */
.icon-esculturas_logo:before { content: '\e820'; } /* '' */
.icon-collares_logo:before { content: '\e821'; } /* '' */
.icon-lamparas-himalaya:before { content: '\e822'; } /* '' */